openapi: 3.2.0
info:
  title: Aeropay v2 Create & Manage Transactions API
  version: 1.0.0
  description: '# Introduction


    Welcome to the Aeropay developer API documentation.'
servers:
- url: https://api.sandbox-pay.aero.inc
  variables: {}
tags:
- name: Create & Manage Transactions
paths:
  /v2/transaction:
    parameters: []
    post:
      summary: transaction
      description: 'Create an Aeropay Transaction Object where funds will move from a user to a merchant.


        The `userForMerchant` token specifies the paying user. The merchant being paid is specified by the `merchantId` in the request body. The user''s default bank account will be selected if no `bankAccountId` is specified.


        **Attributes** are AeroPay formatted data that you may wish to include with your transaction. For example, an invoice number or the tracking of a tip amount.


        **NOTE:** Tip amounts will be added to the ''amount'' value.


        Error Glossary (click to expand)


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP101` | 401 | No authenticated user |

        | `AP103` | 200 | Unable to set user reputation level |

        | `AP109` | 200 | Delinquent activity on account |

        | `AP110` | 200 | User profile incomplete |

        | `AP114` | 200 | Account restricted by merchant |

        | `AP201` | 200 | No merchant found for merchant id |

        | `AP203` | 200 | Unable to get location for merchant |

        | `AP205` | 200 | Unable to get rewards and fees for merchant |

        | `AP206` | 200 | Unable to get merchant account |

        | `AP300` | 200 | Unable to connect to bank |

        | `AP302` | 200 | Insufficient funds |

        | `AP303` | 200 | Transaction missing location |

        | `AP304` | 200 | Transaction amount exceeds limit |

        | `AP306` | 200 | Insufficient balance |

        | `AP307` | 200 | Payment declined - try a lower amount |

        | `AP308` | 200 | Invalid amount |

        | `AP314` | 200 | Transaction already exists |

        | `AP315` | 200 | Payment rejected - threshold or suspended bank |

        | `AP400` | 200 | No bank account linked |

        | `AP401` | 400 | Cannot validate bank account |

        | `AP402` | 200 | No bank account for merchant |

        | `AP403` | 200 | Bank not supported |

        | `AP404` | 200 | Invalid routing number |

        | `AP411` | 200 | Invalid account type - connect a checking account |

        | `AP412` | 200 | Bank account already removed |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |

        | `AP1400` | 400 | Idempotency key reused with different payload |

        | `AP1401` | 400 | Request with same idempotency key still processing |

        | `AP1402` | 400 | Invalid idempotency key structure |'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A userForMerchant scoped token.
        example: Bearer {{userForMerchantScopedToken}}
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        description: Optional UUID value to ensure idempotent transaction.
        example: 123e4567-e89b-12d3-a456-426614174000
        schema:
          type: string
          format: uuid
      requestBody:
        description: Body of transaction call
        content:
          application/json:
            schema:
              title: transactionRequest
              type: object
              required:
              - merchantId
              - amount
              properties:
                bankAccountId:
                  type: integer
                  description: default bank account for the user will be used if not specified
                merchantId:
                  type: integer
                  description: MerchantId
                amount:
                  type: object
                  description: Dictionary with currency and amount in pennies. Only USD supported at this time
                  properties:
                    amount:
                      type: integer
                      description: Payment amount in pennies
                    currency:
                      type: string
                      description: Currency. Currently only supports USD
                referenceId:
                  type: string
                  description: Merchant reference id of transaction
                attributes:
                  type: object
                  description: Dictionary with attributes. Tip and invoice are standard formats. Custom attributes must follow value/description dictionary formatting.
                  properties:
                    CUSTOM ATTRIBUTE:
                      type: object
                      properties:
                        value:
                          type: string
                          description: Value identifier of custom attribute
                        description:
                          type: string
                          description: Description of custom attribute
                    invoice:
                      type: object
                      properties:
                        value:
                          type: string
                          description: Value identifier of invoice
                          example: Value
                        description:
                          type: string
                          description: Description of invoice
                          example: Description
                    tip:
                      type: object
                      properties:
                        tipAmount:
                          type: string
                          description: Required. Amount of tip, in format XX.XX
                        label:
                          type: string
                          description: Required. String representation of tip, including $
                        totalAmount:
                          type: string
                          description: Required. Amount + tip, in format XX.XX. This can be used for reconciliation and to guarantee accurate amount value
                      example:
                        tipAmount: '1.00'
                        label: $1.00
                        totalAmount: '2.00'
        required: true
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Wed, 30 Jul 2025 13:07:17 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success or Business Logic Error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/transactionResponse'
                - $ref: '#/components/schemas/200failure'
              examples:
                Success_With_Reference:
                  summary: Success - with referenceId
                  value:
                    transaction:
                      id: f79c19d4-11fd-408e-940f-c341667563b9
                      amount:
                        amount: 400
                        currency: USD
                      status: pending
                      paymentType: payment
                      userId: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      referenceId: merchant-ref-id
                      attributes:
                        ATTRIBUTE NAME:
                          value: ATTRIBUTE VALUE
                          description: ATTRIBUTE DESCRIPTION
                        tip:
                          selection:
                            tipAmount: 1
                            label: $0.01
                            totalAmount: '4.00'
                      isRtp: false
                      merchantId: 582
                      title: Online Transaction
                      locationId: 541
                      userAccountId: 1139036
                Success_Minimal:
                  summary: Success - no referenceId or tip
                  value:
                    transaction:
                      id: f79c19d4-11fd-408e-940f-c341667563b9
                      amount:
                        amount: 400
                        currency: USD
                      status: pending
                      paymentType: payment
                      userId: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      isRtp: false
                      merchantId: 582
                      title: Online Transaction
                      locationId: 541
                      userAccountId: 1139036
                Success_ValidTip_NoReferenceID:
                  summary: Success - valid tip
                  value:
                    transaction:
                      id: f79c19d4-11fd-408e-940f-c341667563b9
                      amount:
                        amount: 400
                        currency: USD
                      status: pending
                      paymentType: payment
                      userId: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      attributes:
                        ATTRIBUTE NAME:
                          value: ATTRIBUTE VALUE
                          description: ATTRIBUTE DESCRIPTION
                        tip:
                          selection:
                            tipAmount: 1
                            label: $0.01
                            totalAmount: '4.00'
                      isRtp: false
                      merchantId: 582
                      title: Online Transaction
                      locationId: 541
                      userAccountId: 1139036
                Error_InvalidTipCalculation:
                  summary: Fail - Invalid total tip amount
                  value:
                    error:
                      code: ApError
                      message: 'Invalid total amount calculation: 13.34 not 1.03'
        '400':
          description: Bad Request - Validation Errors
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              examples:
                Error_InvalidAmountFormat:
                  summary: Fail - Invalid amount format
                  value:
                    error:
                      code: AP701
                      message: 'Improperly formatted parameter: [''amount: money amount must be a dictionary'']'
                Error_InvalidReference:
                  summary: Fail - invalid referenceId (>64)
                  value:
                    error:
                      code: AP701
                      message: 'Improperly formatted parameter: [''referenceId: exceeded maximum length of 64'']'
                Error_MissingCurrency:
                  summary: Fail - Missing amount/currency
                  value:
                    error:
                      code: VALIDATION_ERROR
                      message: Currency is required
      operationId: postV2Transaction
      x-operation-id-source: derived
  /v2/transaction/{transactionUUID}/refunds:
    parameters:
    - name: transactionUUID
      in: path
      required: true
      description: Transaction UUID (id returned from POST /v2/transaction)
      schema:
        type: string
        format: uuid
    get:
      summary: transactionRefunds
      description: 'Retrieve the current refund state for a specific transaction.


        Returns two arrays:

        - **`refunds`** — processed or pending reversal transactions. Shape matches a standard transaction object. Always present; empty when no refunds have been processed.

        - **`queuedRefunds`** — individually tracked refunds that have been requested but not yet processed (e.g. the original transaction has not yet cleared). Each item has `id`, `referenceId`, `amount` (with `amount` and `currency`), and `status` (`queued` or `abandoned`). Always present; empty when nothing is queued.


        The `id` on a queued refund item is the uuid assigned at the time POST /v2/reverseTransaction was called (either supplied by the client or system-generated). That same uuid becomes the `id` of the resulting reversal transaction once processed.


        **Multiple reversals:** A transaction can have more than one independent reversal. Each POST /v2/reverseTransaction call produces its own record. Both `refunds` and `queuedRefunds` may contain multiple entries.


        Error Glossary (click to expand)


        | Code | HTTP Status | Message |

        |------|-------------|---------|

        | `AP011` | 401 | Unauthorized |

        | `AP101` | 401 | No authenticated user |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: Content-Type
        in: header
        required: false
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A userForMerchant scoped token.
        example: Bearer {{userForMerchantScopedToken}}
        schema:
          type: string
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Mon, 22 Jan 2026 10:30:00 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success - Transaction refunds retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transactionRefundsResponse'
              examples:
                hasRefunds:
                  summary: Transaction has processed/pending refunds
                  value:
                    refunds:
                    - id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      amount:
                        amount: 5000
                        currency: USD
                      status: processed
                      paymentType: reversal
                      userId: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      title: Refund for Online Transaction
                      referenceId: 0123456789
                      attributes: []
                      createdDate: '2026-01-22T10:30:00+00:00'
                      modifiedDate: '2026-01-22T10:30:00+00:00'
                      apFee: '0.00'
                      isRtp: false
                      merchantId: 582
                      locationId: 541
                      userAccountId: 1139036
                    - id: b2c3c3d4-e5f6-7890-abcd-ef1234567890
                      amount:
                        amount: 1000
                        currency: USD
                      status: pending
                      paymentType: reversal
                      userId: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      title: Refund for Online Transaction
                      referenceId: 0123456789
                      attributes: []
                      createdDate: '2026-01-24T10:30:00+00:00'
                      modifiedDate: '2026-01-24T10:30:00+00:00'
                      apFee: '0.00'
                      isRtp: false
                      merchantId: 582
                      locationId: 541
                      userAccountId: 1139036
                    queuedRefunds: []
                hasQueuedRefunds:
                  summary: Transaction has queued refunds pending processing
                  value:
                    refunds: []
                    queuedRefunds:
                    - id: a3f1c2d4-e5b6-7890-abcd-ef1234567890
                      referenceId: b4e2d3f5-f6c7-8901-bcde-fa2345678901
                      amount:
                        amount: 1500
                        currency: USD
                      status: queued
                    - id: c5d3e4f6-a7b8-9012-cdef-ab3456789012
                      referenceId: null
                      amount:
                        amount: 500
                        currency: USD
                      status: queued
                noRefunds:
                  summary: Transaction has no refunds
                  value:
                    refunds: []
                    queuedRefunds: []
      operationId: getV2TransactionByTransactionUUIDRefunds
      x-operation-id-source: derived
  /v2/transaction/idempotency/{idempotencyKey}:
    parameters:
    - name: idempotencyKey
      in: path
      required: true
      description: Idempotency key UUID sent as the Idempotency-Key header on the original POST /v2/transaction request
      schema:
        type: string
        format: uuid
    get:
      summary: getTransactionByIdempotencyKey
      description: 'Fetches the original transaction response by the idempotency key used during the POST /v2/transaction request.


        **Security Behavior**


        To prevent information leakage, this endpoint returns an empty object `{}` in all negative cases — including when the idempotency key does not exist and when the key exists but belongs to a different merchant. Callers cannot distinguish between the two scenarios.


        **Loss of Reference Behavior**


        The idempotency key can reference the transaction only until the TTL expires. The current TTL is 1 day. After that, the transaction may exist but cannot be retrieved by the idempotency key.'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: Content-Type
        in: header
        required: false
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: false
        description: A merchant scoped token.
        example: Bearer {{merchantScopedToken}}
        schema:
          type: string
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Tue, 24 Jun 2025 20:24:21 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Returns the transaction response originally stored for this idempotency key, or an empty object if no record is found or the key belongs to a different merchant.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/transactionGetResponse'
                - $ref: '#/components/schemas/emptyResponse'
              examples:
                found:
                  summary: Idempotency key found — returns original transaction response
                  value:
                    transaction:
                      id: f79c19d4-11fd-408e-940f-c341667563b9
                      amount:
                        amount: 400
                        currency: USD
                      status: pending
                      paymentType: payment+
                      userId: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      title: Online Transaction
                      referenceId: 0123456789
                      attributes:
                      - value: '1'
                        name: tip
                        description: flat
                      - value: ATTRIBUTE VALUE
                        name: ATTRIBUTE NAME
                        description: ATTRIBUTE DESCRIPTION
                      createdDate: '2026-01-21T02:14:45+00:00'
                      modifiedDate: '2026-01-21T02:14:45+00:00'
                      apFee: '0.03'
                      isRtp: false
                      merchantId: 582
                      locationId: 541
                      userAccountId: 1139036
                notFound:
                  summary: Idempotency key not found or belongs to a different merchant
                  value: {}
        '400':
          description: Missing or invalid idempotency key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/200failure'
              example:
                error:
                  help: contact support@aeropay.com for help
                  code: AP700
                  message: 'Missing required Parameter: ''idempotencyKey'''
      operationId: getV2TransactionIdempotencyByIdempotencyKey
      x-operation-id-source: derived
  /v2/transaction/{transactionId}:
    parameters:
    - name: transactionId
      in: path
      required: true
      description: Transaction Id of transaction. In UUID format.
      example: 47e1eab8-5b71-42e7-a0fd-bf30f73af6fb
      schema:
        type: string
    get:
      summary: transaction
      description: 'Fetch a transaction for the specified transaction id.


        To search for multiple transactions or by other transaction attributes, use `POST /v2/transactionSearch`.


        Error Glossary (click to expand)


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP011` | 401 | Unauthorized for this transaction |

        | `AP101` | 401 | No authenticated user |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A merchant scoped token.
        example: Bearer {{merchantScopedToken}}
        schema:
          type: string
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Thu, 07 Aug 2025 14:22:24 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success or Transaction Not Found
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/transactionGetResponse'
                - $ref: '#/components/schemas/200failure'
              examples:
                Success_V2_Reference:
                  summary: Success - V2 referenceId
                  value:
                    transaction:
                      id: f79c19d4-11fd-408e-940f-c341667563b9
                      amount:
                        amount: 400
                        currency: USD
                      status: pending
                      paymentType: payment
                      userId: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      referenceId: merchant-ref-id
                      attributes:
                        ATTRIBUTE NAME:
                          value: ATTRIBUTE VALUE
                          description: ATTRIBUTE DESCRIPTION
                        tip:
                          selection:
                            tipAmount: 1
                            label: $0.01
                            totalAmount: '4.00'
                      isRtp: false
                      createdDate: '2026-01-02T11:45:32+00:00'
                      modifiedDate: '2026-01-02T11:45:32+00:00'
                      apFee: '0.03'
                      merchantId: 582
                      title: Online Transaction
                      locationId: 541
                      userAccountId: 1139036
                Success_V2_NoReference:
                  summary: Success - V2 no referenceId
                  value:
                    transaction:
                      id: 5c10f370-387a-4aa0-8f94-56fecc4b0d84
                      amount:
                        amount: 3
                        currency: USD
                      status: pending
                      paymentType: payment
                      userId: '2181'
                      title: Online Transaction
                      attributes:
                      - value: ATTRIBUTE VALUE
                        name: ATTRIBUTE NAME
                        description: ATTRIBUTE DESCRIPTION
                      createdDate: '2025-12-24T01:52:42+00:00'
                      modifiedDate: '2025-12-24T01:52:42+00:00'
                      apFee: '0.00'
                      isRtp: false
                      merchantId: 1057
                      locationId: 1147
                      userAccountId: 4542
                Error_NotFound:
                  summary: Fail - Invalid transaction UUID
                  value:
                    error:
                      code: ApError
                      message: Transaction 47e1eab8-5b71-42e7-a0fd-bf30f73af6fa not found
      operationId: getV2TransactionByTransactionId
      x-operation-id-source: derived
  /v2/preauthTransaction:
    parameters: []
    post:
      summary: preauthTransaction
      description: 'Create a preauthorized transaction for the user specified by the authorization token.


        The response contains a transaction object. The `id` within this transaction object is used to identify this preauthorized transaction.


        Preauthorized transactions do not have a default expiration, but can be configurable by merchant.


        Error Glossary (click to expand)


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP009` | 401 | Unauthorized |

        | `AP101` | 401 | No authenticated user |

        | `AP103` | 200 | Unable to set user reputation level |

        | `AP109` | 200 | Delinquent activity on account |

        | `AP110` | 200 | User profile incomplete |

        | `AP201` | 200 | No merchant found for merchant id |

        | `AP203` | 200 | Unable to get location for merchant |

        | `AP205` | 200 | Unable to get rewards and fees for merchant |

        | `AP300` | 200 | Unable to connect to bank |

        | `AP302` | 200 | Insufficient funds |

        | `AP303` | 200 | Transaction missing location |

        | `AP304` | 200 | Transaction amount exceeds limit |

        | `AP306` | 200 | Insufficient balance |

        | `AP307` | 200 | Payment declined - try a lower amount |

        | `AP308` | 200 | Invalid amount |

        | `AP310` | 200 | Credit transaction declined |

        | `AP314` | 200 | Transaction already exists |

        | `AP315` | 200 | Payment rejected - threshold or suspended bank |

        | `AP400` | 200 | No bank account linked |

        | `AP401` | 400 | Cannot validate bank account |

        | `AP402` | 200 | No bank account for merchant |

        | `AP403` | 200 | Bank not supported |

        | `AP411` | 200 | Invalid account type - connect a checking account |

        | `AP412` | 200 | Bank account already removed |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |

        | `AP1000` | 200 | Invalid API |

        | `AP1400` | 400 | Idempotency key reused with different payload |

        | `AP1401` | 400 | Request with same idempotency key still processing |

        | `AP1402` | 400 | Invalid idempotency key structure |'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A userForMerchant scoped token.
        example: Bearer {{userForMerchantScopedToken}}
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        description: Optional UUID value to ensure idempotent transaction.
        example: 123e4567-e89b-12d3-a456-426614174000
        schema:
          type: string
          format: uuid
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              title: preauthtransactionRequest
              description: Body of preauthtransaction call
              type: object
              required:
              - bankAccountId
              - merchantId
              - amount
              properties:
                bankAccountId:
                  type: integer
                  description: bankAccountId of selected bank
                merchantId:
                  type: integer
                  description: MerchantId
                amount:
                  type: object
                  description: Dictionary with currency and amount in pennies. Only USD supported at this time
                  properties:
                    amount:
                      type: integer
                      description: Payment amount in pennies
                    currency:
                      type: string
                      description: Currency. Currently only supports USD
                attributes:
                  type: object
                  description: Dictionary with attributes. Tip and invoice are standard formats. Custom attributes must follow value/description dictionary formatting.
                  properties:
                    CUSTOM ATTRIBUTE:
                      type: object
                      properties:
                        value:
                          type: string
                          description: Value identifier of custom attribute
                        description:
                          type: string
                          description: Description of custom attribute
                    invoice:
                      type: object
                      properties:
                        value:
                          type: string
                          description: Value identifier of invoice
                          example: Value
                        description:
                          type: string
                          description: Description of invoice
                          example: Description
                    tip:
                      type: object
                      properties:
                        tipAmount:
                          type: string
                          description: Required. Amount of tip, in format XX.XX
                        label:
                          type: string
                          description: Required. String representation of tip, including $
                        totalAmount:
                          type: string
                          description: Required. Amount + tip, in format XX.XX. This can be used for reconciliation and to guarantee accurate amount value
                      example:
                        tipAmount: '1.00'
                        label: $1.00
                        totalAmount: '2.00'
                referenceId:
                  type: string
                  description: Merchant reference id of transaction
              example:
                bankAccountId: '0'
                merchantId: '1748'
                amount:
                  amount: 1234
                  currency: USD
                referenceId: 123-123-1234
        required: true
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Wed, 30 Jul 2025 16:28:20 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/preauthTransactionResponse'
                - $ref: '#/components/schemas/200failure'
              examples:
                Success_V2_NoReference:
                  summary: Success - V2 no referenceId
                  value:
                    transaction:
                      id: bec5a7b7-edd8-4580-aff5-b1ee52e73686
                      amount:
                        currency: USD
                        amount: 222
                      status: live
                      userId: d5e17cbf-92ad-44e7-b483-19dba7adaaa4
                      description: Online Transaction
                      attributes:
                        key:
                          value: KEY VALUE
                          description: KEY DESCRIPTION
                      createdDate: '2026-01-02T11:59:44+00:00'
                      expiryDate: '2026-01-04T11:59:44+00:00'
                      userName: Begos Andres
                      userEmail: begona.andresm@aeropay.com
                      merchantId: 1057
                      userAccountId: 1717
                      locationId: 1147
                Success_V2_ValidReference:
                  summary: Success - V2 valid referenceId
                  value:
                    transaction:
                      id: 53024f75-f7d1-45b7-8e4d-4449fed355ab
                      amount:
                        currency: USD
                        amount: 222
                      status: live
                      userId: d5e17cbf-92ad-44e7-b483-19dba7adaaa4
                      referenceId: check-new-ref-id
                      description: Online Transaction
                      attributes:
                        key:
                          value: KEY VALUE
                          description: KEY DESCRIPTION
                      createdDate: '2026-01-02T12:00:56+00:00'
                      expiryDate: '2026-01-04T12:00:56+00:00'
                      userName: Begos Andres
                      userEmail: begona.andresm@aeropay.com
                      merchantId: 1057
                      userAccountId: 1717
                      locationId: 1147
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              examples:
                Error_RefTooLong:
                  summary: Fail - V2 invalid referenceId (>64)
                  value:
                    error:
                      code: AP701
                      message: 'Improperly formatted parameter: [''referenceId: exceeded maximum length of 64'']'
                Error_InvalidAmount:
                  summary: Fail - Invalid amount format
                  value:
                    error:
                      code: AP701
                      message: 'Improperly formatted parameter: [''amount: money amount must be a dictionary'']'
      operationId: postV2PreauthTransaction
      x-operation-id-source: derived
  /v2/preauthTransaction/{preauthTransactionId}:
    parameters:
    - name: preauthTransactionId
      description: Id of preauthorized transaction to query by
      in: path
      required: true
      example: 4da64b86-eb2c-44e7-803b-fe0446505fd9
      schema:
        type: string
    get:
      summary: preauthTransaction
      description: 'Retrieve the preauthorized transaction with the id provided by the path parameter ({{preAuthTransactionId}}).


        Error Glossary (click to expand)


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP009` | 401 | Unauthorized |

        | `AP101` | 401 | No authenticated user |

        | `AP313` | 200 | Preauth ineligible for capture |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A merchant scoped token.
        example: Bearer {{merchantScopedToken}}
        schema:
          type: string
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Wed, 30 Jul 2025 16:33:02 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/preauthTransactionResponse'
                - $ref: '#/components/schemas/200failure'
              examples:
                Success_V2_NoReference:
                  summary: Success - V2 no referenceId
                  value:
                    transaction:
                      id: bec5a7b7-edd8-4580-aff5-b1ee52e73686
                      amount:
                        currency: USD
                        amount: 222
                      status: live
                      userId: d5e17cbf-92ad-44e7-b483-19dba7adaaa4
                      description: Online Transaction
                      attributes:
                        key:
                          value: KEY VALUE
                          description: KEY DESCRIPTION
                      createdDate: '2026-01-02T11:59:44+00:00'
                      expiryDate: '2026-01-04T11:59:44+00:00'
                      userName: Begos Andres
                      userEmail: begona.andresm@aeropay.com
                      merchantId: 1057
                      userAccountId: 1717
                      locationId: 1147
                Success_V2_Reference:
                  summary: Success - V2 referenceId
                  value:
                    transaction:
                      id: 53024f75-f7d1-45b7-8e4d-4449fed355ab
                      amount:
                        currency: USD
                        amount: 222
                      status: live
                      userId: d5e17cbf-92ad-44e7-b483-19dba7adaaa4
                      referenceId: check-new-ref-id
                      description: Online Transaction
                      attributes:
                        key:
                          value: KEY VALUE
                          description: KEY DESCRIPTION
                      createdDate: '2026-01-02T12:00:56+00:00'
                      expiryDate: '2026-01-04T12:00:56+00:00'
                      userName: Begos Andres
                      userEmail: begona.andresm@aeropay.com
                      merchantId: 1057
                      userAccountId: 1717
                      locationId: 1147
                Error_Ineligible:
                  summary: Fail - V2 invalid preauth uuid
                  value:
                    error:
                      code: AP313
                      message: Preauth ineligible for capture
                Error_InvalidPreauthUuid:
                  summary: Fail - V2 invalid format preauth uuid
                  value:
                    error:
                      code: AP701
                      message: 'Improperly formatted parameter: [''id: invalid UUID format'']'
      operationId: getV2PreauthTransactionByPreauthTransactionId
      x-operation-id-source: derived
    patch:
      summary: preauthTransaction
      description: 'Update the specified preauthorized transaction. Preauthorized transaction amounts can be increased or decreased. Attributes can also be added for tipping purposes.


        **Note:** The updated transaction amount may not exceed the original amount that was preauthorized.


        Error Glossary (click to expand)


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP009` | 401 | Unauthorized |

        | `AP101` | 401 | No authenticated user |

        | `AP300` | 200 | Unable to connect to bank |

        | `AP302` | 200 | Insufficient funds |

        | `AP310` | 200 | Credit transaction declined |

        | `AP312` | 200 | Preauth already captured |

        | `AP313` | 200 | Preauth ineligible for capture |

        | `AP315` | 200 | Payment rejected - threshold or suspended bank |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |

        | `AP1000` | 200 | Invalid API |'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A merchant scoped token.
        example: Bearer {{merchantScopedToken}}
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              title: preathtransactionPatchRequest
              description: Body of preauthtransaction patch call
              type: object
              properties:
                amount:
                  type: object
                  description: Dictionary with currency and amount in pennies. Only USD supported at this time
                  properties:
                    amount:
                      type: integer
                      description: Payment amount in pennies
                    currency:
                      type: string
                      description: Currency. Currently only supports USD
                attributes:
                  type: object
                  description: Dictionary with attributes. Tip and invoice are standard formats. Custom attributes must follow value/description dictionary formatting.
                  properties:
                    CUSTOM ATTRIBUTE:
                      type: object
                      properties:
                        value:
                          type: string
                          description: Value identifier of custom attribute
                        description:
                          type: string
                          description: Description of custom attribute
                    invoice:
                      type: object
                      properties:
                        value:
                          type: string
                          description: Value identifier of invoice
                          example: Value
                        description:
                          type: string
                          description: Description of invoice
                          example: Description
                    tip:
                      type: object
                      properties:
                        tipAmount:
                          type: string
                          description: Required. Amount of tip, in format XX.XX
                        label:
                          type: string
                          description: Required. String representation of tip, including $
                        totalAmount:
                          type: string
                          description: Required. Amount + tip, in format XX.XX. This can be used for reconciliation and to guarantee accurate amount value
                      example:
                        tipAmount: '1.00'
                        label: $1.00
                        totalAmount: '2.00'
            example:
              amount:
                amount: 101
                currency: USD
              attributes:
                invoice:
                  value: '12345'
                  description: BUSINESS NAME
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Thu, 07 Aug 2025 14:27:56 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success or Business Logic Error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/preauthTransactionResponse'
                - $ref: '#/components/schemas/200failure'
              examples:
                Success_Update:
                  summary: Success - Update Amount
                  value:
                    transaction:
                      id: 53024f75-f7d1-45b7-8e4d-4449fed355ab
                      amount:
                        currency: USD
                        amount: 101
                      status: live
                      userId: d5e17cbf-92ad-44e7-b483-19dba7adaaa4
                      description: Online Transaction
                      attributes:
                        invoice:
                          value: '12345'
                          description: BUSINESS NAME
                      createdDate: '2026-01-02T12:00:56+00:00'
                      expiryDate: '2026-01-04T12:00:56+00:00'
                      userName: Begos Andres
                      userEmail: begona.andresm@aeropay.com
                      merchantId: 1057
                      userAccountId: 1717
                      locationId: 1147
                Error_AlreadyCaptured:
                  summary: Fail - preauth already captured
                  value:
                    error:
                      code: AP312
                      message: 'Preauth has already been captured by Transaction #0b6c0d66-2752-4800-bbf4-aa1118b8a646.'
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Error_InvalidFormat:
                  summary: Fail - Invalid ID Format
                  value:
                    error:
                      code: AP701
                      message: 'Improperly formatted parameter: [''id: invalid UUID format'']'
                Error_MissingId:
                  summary: Fail - missing transaction id
                  value:
                    error:
                      code: AP700
                      message: 'Missing required Parameter: ''transactionId'''
      operationId: patchV2PreauthTransactionByPreauthTransactionId
      x-operation-id-source: derived
    delete:
      summary: preauthTransaction
      description: 'Delete the specified preauthorized transaction.


        Error Glossary (click to expand)


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP009` | 401 | Unauthorized |

        | `AP101` | 401 | No authenticated user |

        | `AP312` | 200 | Preauth already captured |

        | `AP313` | 200 | Preauth ineligible for capture |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A merchant scoped token.
        example: Bearer {{merchantScopedToken}}
        schema:
          type: string
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Thu, 07 Aug 2025 15:05:36 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success or Business Logic Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  preauthTransactionGetResponse:
                    title: Get preauthTransaction Response
                    type: object
                    properties:
                      transaction:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: Unique identifier for the transaction (UUID).
                          amount:
                            type: object
                            properties:
                              currency:
                                type: string
                                example: USD
                                description: Three-letter ISO currency code.
                              amount:
                                type: integer
                                example: 101
                                description: Amount in pennies or smallest currency unit.
                          status:
                            type: string
                            enum:
                            - pending
                            - live
                            - canceled
                            - completed
                            description: Current status of the transaction.
                          userId:
                            type: string
                            format: uuid
                            description: Internal identifier of the user.
                          userName:
                            type: string
                            description: Full name of the user.
                          userEmail:
                            type: string
                            format: email
                            description: Email address of the user associated with the transaction.
                          createdDate:
                            type: string
                            format: date-time
                            description: The date and time when the transaction was created.
                          expiryDate:
                            type: string
                            format: date-time
                            description: The date and time when the transaction expires.
                          merchantId:
                            type: integer
                            description: Identifier of the merchant.
                          userAccountId:
                            type: integer
                            description: Identifier of the user's bank account.
                          locationId:
                            type: integer
                            description: Identifier of the specific business location.
                    example:
                      transaction:
                        id: 53024f75-f7d1-45b7-8e4d-4449fed355ab
                        amount:
                          currency: USD
                          amount: 101
                        status: canceled
                        userId: d5e17cbf-92ad-44e7-b483-19dba7adaaa4
                        userName: Begos Andres
                        userEmail: begona.andresm@aeropay.com
                        createdDate: '2026-01-02T12:00:56+00:00'
                        expiryDate: '2026-01-04T12:00:56+00:00'
                        merchantId: 1057
                        userAccountId: 1717
                        locationId: 1147
              examples:
                Success_Cancel:
                  summary: Success - preauth canceled
                  value:
                    transaction:
                      id: 53024f75-f7d1-45b7-8e4d-4449fed355ab
                      amount:
                        currency: USD
                        amount: 101
                      status: canceled
                      userId: d5e17cbf-92ad-44e7-b483-19dba7adaaa4
                      userName: Begos Andres
                      userEmail: begona.andresm@aeropay.com
                      createdDate: '2026-01-02T12:00:56+00:00'
                      expiryDate: '2026-01-04T12:00:56+00:00'
                      merchantId: 1057
                      userAccountId: 1717
                      locationId: 1147
                Error_AlreadyDeleted:
                  summary: Fail - Already deleted preauth transaction
                  value:
                    error:
                      code: AP313
                      message: Preauthorized Transaction with status of canceled is not eligible for capture
                Error_NotExist:
                  summary: Fail - preauth does not exists
                  value:
                    error:
                      code: AP313
                      message: Preauth ineligible for capture
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                error:
                  code: AP701
                  message: 'Improperly formatted parameter: [''id: invalid UUID format'']'
      operationId: deleteV2PreauthTransactionByPreauthTransactionId
      x-operation-id-source: derived
  /v2/preauthTransactions:
    parameters: []
    get:
      summary: preauthTransactions
      description: 'Fetch array of the preauthorized transactions for the authorized merchant.


        If the optional `id` query parameter is specified, fetches only that preauthorized transaction. If the optional `level` query parameter is specified, fetches the preauthorized transactions for that level.


        Error Glossary (click to expand)


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP009` | 401 | Unauthorized |

        | `AP101` | 401 | No authenticated user |

        | `AP313` | 200 | Preauth ineligible for capture |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: uuid
        in: query
        required: false
        description: UUID of preauthorized transaction to query by
        example: 7626c8c6-d6df-4c21-bcf4-09569294eaec
        schema:
          type: string
      - name: level
        in: query
        required: false
        description: Status of preauthorized transaction to query by
        example: live
        schema:
          type: string
      - name: dateStart
        in: query
        required: false
        description: Start date to filter preauthorized transactions on (MM-DD-YYYY HH:mm:ss)
        example: 11-12-2025 00:00:00
        schema:
          type: string
      - name: dateEnd
        in: query
        required: false
        description: End date to filter preauthorized transactions on (MM-DD-YYYY HH:mm:ss)
        example: 11-13-2025 00:00:00
        schema:
          type: string
      - name: timezone
        in: query
        required: false
        description: Timezone of dates
        example: ECT
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: Page number
        example: 1
        schema:
          type: integer
      - name: perPage
        in: query
        required: false
        description: Number of transactions per page
        example: 10
        schema:
          type: integer
      - name: sortBy
        in: query
        required: false
        description: Field to sort by
        example: id
        schema:
          type: string
      - name: orderBy
        in: query
        required: false
        description: Order by
        example: desc
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A merchant scoped token.
        example: Bearer {{merchantScopedToken}}
        schema:
          type: string
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Wed, 30 Jul 2025 16:33:02 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: object
                title: Get preauthTransaction response
                properties:
                  paging:
                    type: object
                    properties:
                      totalPages:
                        type: integer
                      totalItems:
                        type: integer
                      currentPage:
                        type: integer
                      itemsPerPage:
                        type: integer
                  transactions:
                    type: array
                    items:
                      $ref: '#/components/schemas/preauthTransactionResponse'
              examples:
                Success_V2_Params:
                  summary: Success - V2 params
                  value:
                    paging:
                      totalPages: 1
                      totalItems: 1
                      currentPage: 1
                      itemsPerPage: 1
                    transactions:
                    - id: 962af059-bf7b-4fd5-8d1f-83e9deb0a02a
                      amount:
                        currency: USD
                        amount: 222
                      status: live
                      userId: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      referenceId: merchant-ref-id
                      description: Online Transaction
                      attributes:
                        key:
                          value: KEY VALUE
                          description: KEY DESCRIPTION
                      createdDate: '2026-01-21T02:56:27+00:00'
                      expiryDate: '2026-01-24T02:56:27+00:00'
                      userName: Cristiano Lopes
                      userEmail: cristiano.lopes@ext.blaze.me
                      merchantId: 582
                      userAccountId: 1139036
                      locationId: 541
                Success_NoQueryParams:
                  summary: Success - No Query Parameters
                  value:
                    paging:
                      totalPages: 1
                      totalItems: 2
                      currentPage: 1
                      itemsPerPage: 50
                    transactions:
                    - id: 962af059-bf7b-4fd5-8d1f-83e9de77acb
                      amount:
                        currency: USD
                        amount: 333
                      status: live
                      userId: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      referenceId: merchant-ref-id
                      description: Online Transaction
                      attributes:
                        key:
                          value: KEY VALUE
                          description: KEY DESCRIPTION
                      createdDate: '2026-01-21T02:56:27+00:00'
                      expiryDate: '2026-01-24T02:56:27+00:00'
                      userName: Cristiano Lopes
                      userEmail: cristiano.lopes@ext.blaze.me
                      merchantId: 582
                      userAccountId: 1139036
                      locationId: 541
                    - id: 962af059-bf7b-4fd5-8d1f-83e9deb0a02a
                      amount:
                        currency: USD
                        amount: 222
                      status: live
                      userId: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      referenceId: merchant-ref-id
                      description: Online Transaction
                      attributes:
                        key:
                          value: KEY VALUE
                          description: KEY DESCRIPTION
                      createdDate: '2026-01-21T02:56:27+00:00'
                      expiryDate: '2026-01-24T02:56:27+00:00'
                      userName: Cristiano Lopes
                      userEmail: cristiano.lopes@ext.blaze.me
                      merchantId: 582
                      userAccountId: 1139036
                      locationId: 541
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                error:
                  code: AP008
                  message: Invalid token.
      operationId: getV2PreauthTransactions
      x-operation-id-source: derived
  /v2/capturePreauthTransaction:
    parameters: []
    post:
      summary: capturePreauthTransaction
      description: 'Execute the preauthorized transaction which is specified by provided ''id''.


        The AeroPay transaction is returned.


        Error Glossary (click to expand)


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP009` | 401 | Unauthorized |

        | `AP101` | 401 | No authenticated user |

        | `AP300` | 200 | Unable to connect to bank |

        | `AP310` | 200 | Credit transaction declined |

        | `AP312` | 200 | Preauth already captured |

        | `AP313` | 200 | Preauth ineligible for capture |

        | `AP400` | 200 | No bank account linked |

        | `AP401` | 400 | Cannot validate bank account |

        | `AP412` | 200 | Bank account already removed |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |

        | `AP1000` | 200 | Invalid API |'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A merchant scoped token.
        example: Bearer {{merchantScopedToken}}
        schema:
          type: string
      requestBody:
        description: Body of preauthtransaction capture call
        content:
          application/json:
            schema:
              title: preathtransactionCaptureRequest
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                  description: preauthtransactionId of transaction to capture. In UUID format.
            example:
              id: 7626c8c6-d6df-4c21-bcf4-09569294eaec
        required: true
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Wed, 30 Jul 2025 16:50:39 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success or Business Logic Error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/capturePreauthTransactionResponse'
                - $ref: '#/components/schemas/200failure'
              examples:
                Success_Valid_Id:
                  summary: Success - valid preauth id
                  value:
                    transaction:
                      id: bec5a7b7-edd8-4580-aff5-b1ee52e73686
                      amount:
                        currency: USD
                        amount: 222
                      status: live
                      userId: d5e17cbf-92ad-44e7-b483-19dba7adaaa4
                      description: Online Transaction
                      attributes:
                        key:
                          value: KEY VALUE
                          description: KEY DESCRIPTION
                      createdDate: '2026-01-02T11:59:44+00:00'
                      expiryDate: '2026-01-04T11:59:44+00:00'
                      userName: Begos Andres
                      userEmail: begona.andresm@aeropay.com
                      merchantId: 1057
                      userAccountId: 1717
                      locationId: 1147
                Error_AlreadyCancelled:
                  summary: Fail - Transaction already cancelled
                  value:
                    error:
                      code: AP313
                      message: Preauthorized Transaction with status of canceled is not eligible for capture
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Error_Invalid_Format:
                  summary: Fail - invalid id format
                  value:
                    error:
                      code: AP701
                      message: 'Improperly formatted parameter: [''id'']'
                      help: Contact support@aeropay.com for help.
      operationId: postV2CapturePreauthTransaction
      x-operation-id-source: derived
  /v2/reverseTransaction:
    parameters: []
    post:
      summary: reverseTransaction
      description: 'Void or refund an Aeropay Transaction.


        If a transaction needs to be reversed (return money to the customer) this method will void the payment, or create a payment to the customer from the merchant.


        Transactions that are within the same business day can be voided on the spot, where no money is moved in either direction. If that window has closed and the transaction has begun to process, a transaction in the reverse direction will be created.


        An amount can be included to handle partial refunds if there was a change in the amount, otherwise the full amount will be refunded.


        Refunds will take 2-3 business days to process as usual.


        **Safe Retry for Refunds (Idempotency-Key):** When a merchant retries a refund request (e.g. after a timeout or network error), Aeropay returns the same outcome as the first attempt instead of creating a second refund. Send an idempotency key with the request (e.g. a UUID in the `Idempotency-Key` header). The first request with that key is processed and its response is stored; later requests with the same key receive the stored response and do not trigger a new refund. The same key cannot be used with a different request body; if it is, the API rejects the request so one key always maps to one logical refund. Idempotency is optional; if no idempotency key is sent, the API does not apply this behavior and does not guarantee protection against duplicate refunds on retries.


        **NOTE:** The `id` used is a `Aeropay Transaction.id` and is only for AeroTransactions. Use `/v2/preauthTransaction` DELETE to cancel a preauthorized transaction.


        **Multiple Independent Reversals:** Each call to this endpoint produces its own separate reversal record with its own uuid. Previously, concurrent partial refunds were silently merged into a single reversal record; that behavior has changed. A transaction can have multiple independent reversals, as long as their amounts do not collectively exceed the original transaction amount.


        Error Glossary (click to expand)


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP009` | 401 | Unauthorized |

        | `AP011` | 401 | Unauthorized for this transaction |

        | `AP101` | 401 | No authenticated user |

        | `AP310` | 200 | Credit transaction declined |

        | `AP314` | 200 | Reversal uuid already exists — the supplied `uuid` collides with an existing reversal''s uuid |

        | `AP400` | 200 | No bank account linked |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter — also raised when the optional `uuid` field is supplied but is not a valid UUID v4 |

        | `AP1001` | 200 | Error committing to database |

        | `AP1200` | 200 | Could not create merchant bill transaction |

        | `AP1300` | 200 | Total refunded amount across all queued and processed reversals on this transaction fully covers the original amount |

        | `AP1302` | 200 | Refund amount exceeds original transaction amount |

        | `AP1303` | 200 | Refund amount must be positive |

        | `AP1304` | 200 | Transaction type cannot be refunded |

        | `AP1305` | 200 | RTP transaction cannot be voided - schedule a refund |'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A merchant scoped token.
        example: Bearer {{merchantScopedToken}}
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        description: Optional idempotency key (e.g. a UUID) to ensure that reverseTransaction is idempotent.
        schema:
          type: string
          format: uuid
      requestBody:
        description: Payload to reverse (void or refund) a transaction.
        content:
          application/json:
            schema:
              title: reverseTransactionRequest
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                  description: id of transaction to refund or void. In UUID format.
                amount:
                  description: Dictionary with currency and amount in pennies. Only USD supported at this time
                  type: object
                  properties:
                    amount:
                      type: integer
                      description: Payment amount in pennies
                    currency:
                      type: string
                      description: Currency. Currently only supports USD
                uuid:
                  type: string
                  format: uuid
                  description: Optional client-supplied UUID v4 identifier for the resulting reversal. If omitted, the system generates one.
                referenceId:
                  type: string
                  description: Optional merchant-provided reference for correlating this reversal with external records.
            example:
              id: 9b5781ff-5674-4ce0-9a38-597903bbee2d
              amount:
                currency: USD
                amount: 1111
        required: true
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Fri, 01 Aug 2025 23:04:11 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success or Business Logic Error
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  title: POST reverseTransaction Response
                  properties:
                    refundTransaction:
                      type: object
                      properties:
                        id:
                          type: string
                        amount:
                          type: object
                        status:
                          type: string
                        paymentType:
                          type: string
                        userId:
                          type: string
                        title:
                          type: string
                        createdDate:
                          type: string
                        modifiedDate:
                          type: string
                        apFee:
                          type: string
                        isRtp:
                          type: boolean
                        merchantId:
                          type: integer
                        locationId:
                          type: integer
                        userAccountId:
                          type: integer
                    message:
                      type: string
                - $ref: '#/components/schemas/200failure'
              examples:
                Success_TransactionVoided:
                  summary: Success - Original transaction has been voided
                  value:
                    refundTransaction:
                      id: f73d1fb8-f668-47a2-84b6-2ccc17ec4353
                      amount:
                        amount: 400
                        currency: USD
                      status: void
                      paymentType: payment+
                      userId: dcecf824-e81f-49a1-a2ea-ca6fa5b2fb30
                      title: Online Transaction
                      attributes:
                      - value: '1'
                        name: tip
                        description: flat
                      - value: ATTRIBUTE VALUE
                        name: ATTRIBUTE NAME
                        description: ATTRIBUTE DESCRIPTION
                      - value: 0123456789
                        name: referenceId
                        description: External Reference Id
                      createdDate: '2026-03-16T15:33:56+00:00'
                      modifiedDate: '2026-03-16T15:35:46+00:00'
                      apFee: '0.33'
                      isRtp: false
                      merchantId: 1522
                      locationId: 2887
                      userAccountId: 1338559
                    message: Transaction has been voided
                Success_QueuedForAmount:
                  summary: Success - Refund for specified amount has been queued
                  value:
                    refundTransaction:
                      userId: dcecf824-e81f-49a1-a2ea-ca6fa5b2fb30
                      merchantId: 1522
                      userAccountId: 1338559
                      amount:
                        currency: USD
                        amount: 300
                    message: Transaction queued for refund. Refund will process after transaction clears
                Success_RefundCreatedForAmount:
                  summary: Success - Refund transaction created with specified refund amount
                  value:
                    refundTransaction:
                      id: d7311d89-9c2f-46b0-a4d9-a77f9ea904ce
                      amount:
                        currency: USD
                        amount: 300
                      status: pending
                      paymentType: reversal
                      userId: dcecf824-e81f-49a1-a2ea-ca6fa5b2fb30
                      title: '2744390'
                      createdDate: '2026-03-16T15:38:10+00:00'
                      modifiedDate: '2026-03-16T15:38:10+00:00'
                      apFee: '0.25'
                      isRtp: false
                      merchantId: 1522
                      locationId: 2887
                      userAccountId: 1338559
                    message: Refund transaction d7311d89-9c2f-46b0-a4d9-a77f9ea904ce created for transaction 9b5781ff-5674-4ce0-9a38-597903bbee2d
                Error_AmountExceeded:
                  summary: Fail - Amount greater than original
                  value:
                    error:
                      code: AP1302
                      message: Refund amount must be equal to or less than the original transaction amount
                Error_UUIDCollision:
                  summary: Fail - Supplied uuid collides with an existing reversal's uuid (AP314)
                  value:
                    error:
                      code: AP314
                      message: Transaction with uuid of d7311d89-9c2f-46b0-a4d9-a77f9ea904ce already exists
                Error_CannotReverseVoidTransaction:
                  summary: Fail - Cannot reverse voided transaction
                  value:
                    error:
                      code: AP1306
                      message: Cannot reverse transaction with status of void
                Error_TransactionNotFound:
                  summary: Fail - Transaction not found
                  value:
                    error:
                      code: AP316
                      message: Transaction ea89bec0-0edb-4f86-9a92-66ce29a488f3 not found
        '400':
          description: Bad Request - Validation Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              examples:
                Error_MissingId:
                  summary: Fail - Missing ID
                  value:
                    error:
                      code: AP700
                      message: 'Missing required Parameter: ''id'''
                Error_InvalidUUIDField:
                  summary: Fail - Optional uuid field is not a valid UUID v4
                  value:
                    error:
                      code: AP314
                      message: 'Improperly formatted parameters: uuid'
      operationId: postV2ReverseTransaction
      x-operation-id-source: derived
  /v2/payoutTransaction:
    parameters: []
    post:
      summary: payoutTransaction
      description: 'Create a transaction that pays an amount from the logged in merchant to the specified user.


        The details of the transaction are returned upon success.


        Error Glossary (click to expand)


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP101` | 401 | No authenticated user |

        | `AP103` | 200 | Unable to set user reputation level |

        | `AP109` | 200 | Delinquent activity on account |

        | `AP110` | 200 | User profile incomplete |

        | `AP201` | 200 | No merchant found for merchant id |

        | `AP203` | 200 | Unable to get location for merchant |

        | `AP205` | 200 | Unable to get rewards and fees for merchant |

        | `AP206` | 200 | Unable to get merchant account |

        | `AP300` | 200 | Unable to connect to bank |

        | `AP302` | 200 | Insufficient funds |

        | `AP303` | 200 | Transaction missing location |

        | `AP304` | 200 | Transaction amount exceeds limit |

        | `AP305` | 200 | Account blocked - delinquent activity |

        | `AP308` | 200 | Invalid amount |

        | `AP314` | 200 | Transaction already exists |

        | `AP315` | 200 | Payment rejected - threshold or suspended bank |

        | `AP400` | 200 | No bank account linked |

        | `AP401` | 400 | Cannot validate bank account |

        | `AP402` | 200 | No bank account for merchant |

        | `AP403` | 200 | Bank not supported |

        | `AP404` | 200 | Invalid routing number |

        | `AP411` | 200 | Invalid account type - connect a checking account |

        | `AP412` | 200 | Bank account already removed |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |

        | `AP900` | 200 | External API error |

        | `AP1400` | 400 | Idempotency key reused with different payload |

        | `AP1401` | 400 | Request with same idempotency key still processing |

        | `AP1402` | 400 | Invalid idempotency key structure |'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A merchant scoped token.
        example: Bearer {{merchantScopedToken}}
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        description: Optional UUID value to ensure idempotent transaction.
        example: 123e4567-e89b-12d3-a456-426614174000
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              title: payoutTransactionRequest
              type: object
              required:
              - userId
              - amount
              - merchantId
              properties:
                userId:
                  type: string
                  description: UserId of Aeropay user to pay to. In UUID format.
                amount:
                  type: object
                  description: Dictionary with currency and amount in pennies. Only USD supported at this time
                  properties:
                    amount:
                      type: integer
                      description: Payment amount in pennies
                    currency:
                      type: string
                      description: Currency. Currently only supports USD
                attributes:
                  type: object
                  description: Dictionary with attributes. Tip and invoice are standard formats. Custom attributes must follow value/description dictionary formatting.
                  properties:
                    tip:
                      type: object
                      properties:
                        tipAmount:
                          type: string
                          description: Required. Amount of tip, in format XX.XX
                        label:
                          type: string
                          description: Required. String representation of tip, including $
                        totalAmount:
                          type: string
                          description: Required. Amount + tip, in format XX.XX. This can be used for reconciliation and to guarantee accurate amount value
                merchantId:
                  type: integer
                  description: merchantId
                bankAccountId:
                  type: integer
                  description: bankAccountId of selected bank
                referenceId:
                  type: string
                  description: Merchant reference id of transaction
                rtp:
                  type: boolean
                  description: If RTP is not specified, it will default to an ACH transaction.
            example:
              userId: d5e17cbf-92ad-44e7-b483-19dba7adaaa4
              bankAccountId: 0
              amount:
                amount: 10
                currency: USD
              attributes:
                ATTRIBUTE NAME:
                  value: ATTRIBUTE VALUE
                  description: ATTRIBUTE DESCRIPTION
                tip:
                  selection:
                    tipAmount: 1
                    label: $0.01
                    totalAmount: '1.10'
              merchantId: 1057
              referenceId: newReferenceID-TestingEA
        required: true
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Fri, 01 Aug 2025 23:26:04 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success or Business Logic Error (AP411)
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/payoutTransactionResponse'
                - $ref: '#/components/schemas/200failure'
              examples:
                Success_With_Reference:
                  summary: Success - V2 with reference id
                  value:
                    transaction:
                      id: a8f0f917-0087-45ca-acdf-1b34ad33f1ea
                      amount:
                        currency: USD
                        amount: 10
                      attributes:
                        ATTRIBUTE NAME:
                          value: ATTRIBUTE VALUE
                          description: ATTRIBUTE DESCRIPTION
                        tip:
                          selection:
                            tipAmount: 1
                            label: $0.01
                            totalAmount: '1.10'
                      status: pending
                      paymentType: payout
                      userId: d5e17cbf-92ad-44e7-b483-19dba7adaaa4
                      referenceId: newReferenceID-TestingEA
                      isRtp: false
                      merchantId: 1057
                      title: Online Transaction
                      locationId: 1147
                      userAccountId: 1717
                Success_Without_Reference:
                  summary: Success - V2 without reference id
                  value:
                    transaction:
                      id: aefc50a7-000b-41de-a937-78aeecd50298
                      amount:
                        currency: USD
                        amount: 10
                      attributes:
                        ATTRIBUTE NAME:
                          value: ATTRIBUTE VALUE
                          description: ATTRIBUTE DESCRIPTION
                        tip:
                          selection:
                            tipAmount: 1
                            label: $0.01
                            totalAmount: '1.10'
                      status: pending
                      paymentType: payout
                      userId: d5e17cbf-92ad-44e7-b483-19dba7adaaa4
                      isRtp: false
                      merchantId: 1057
                      title: Online Transaction
                      locationId: 1147
                      userAccountId: 1717
                Error_Invalid_Account_Type:
                  summary: Fail - Invalid Account for processing payments
                  value:
                    error:
                      code: AP411
                      message: Invalid account connected for processing payments. Please connect a checking account.
                Error_Missing_User_ID:
                  summary: Fail - Missing User ID
                  value:
                    error:
                      code: AP700
                      message: 'Missing required Parameter: ''userId'''
                Error_Invalid_Amount:
                  summary: Fail - Invalid Amount
                  value:
                    error:
                      code: AP701
                      message: 'Improperly formatted parameter: [''amount: money amount must be a dictionary'']'
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Error_Cannot_Validate:
                  summary: Fail - Invalid Account
                  value:
                    error:
                      code: AP401
                      message: We cannot validate the account you're attempting to connect. Please connect a valid account.
      operationId: postV2PayoutTransaction
      x-operation-id-source: derived
  /v2/transactionSearch:
    parameters: []
    post:
      summary: transactionSearch
      description: 'Search and retrieve a paginated list of transactions for the authorized merchant.


        Supports advanced filtering (e.g., `paymentType`), sorting (`sortBy`, `orderBy`), and pagination (`page`, `perPage`).


        The response includes a `paging` object with total counts and a `transactions` array containing the results.


        Error Glossary (click to expand)


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP006` | 401 | Client not authorized for this scope |

        | `AP101` | 401 | No authenticated user |

        | `AP605` | 200 | Merchant is required |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |

        | `AP1000` | 200 | Invalid API |'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: authorization
        in: header
        required: true
        description: Merchant scoped token.
        example: Bearer {{merchantScopedToken}}
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      requestBody:
        description: Payload to search for transactions using filters like timezone, page, dates, and search types.
        content:
          application/json:
            schema:
              title: transactionSearchRequest
              type: object
              properties:
                timezone:
                  description: Timezone of dates transactions are filtered on
                  type: string
                  example: America/Chicago
                page:
                  type: string
                  example: '1'
                perPage:
                  type: string
                  example: '50'
                sortBy:
                  type: string
                  example: id
                orderBy:
                  type: string
                  example: asc
                startDate:
                  type: string
                  description: 'Format: MM-DD-YYYY HH:mm:ss'
                endDate:
                  type: string
                  description: 'Format: MM-DD-YYYY HH:mm:ss'
                searchType:
                  type: string
                  description: Type of transaction attribute searched for (transactionId, userId, etc...)
                  enum:
                  - transactionId
                  - uuid
                  - userId
                  - name
                  - phone
                  - email
                  - locationId
                  - merchantId
                  - default
                filters:
                  type: object
                  properties:
                    paymentType:
                      type: string
                      example: payment
                    referenceId:
                      type: string
                      description: Merchant reference id of transaction
            example:
              timezone: America/Chicago
              page: '1'
              perPage: '50'
              sortBy: id
              orderBy: asc
              filters:
                paymentType: payment
        required: false
      responses:
        '200':
          description: Success - List of matching transactions
          headers:
            Date:
              schema:
                type: string
              example: Wed, 27 Aug 2025 12:56:50 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        amount:
                          type: object
                        status:
                          type: string
                        paymentType:
                          type: string
                        attributes:
                          type: array
                        userId:
                          type: string
                        title:
                          type: string
                        createdDate:
                          type: string
                        modifiedDate:
                          type: string
                        apFee:
                          type: string
                        isRtp:
                          type: boolean
                        merchantId:
                          type: integer
                        locationId:
                          type: integer
                        userAccountId:
                          type: integer
                        customerName:
                          type: string
                        locationName:
                          type: string
                        merchantName:
                          type: string
                  paging:
                    type: object
                    properties:
                      totalPages:
                        type: integer
                      totalItems:
                        type: integer
                      currentPage:
                        type: integer
                      itemsPerPage:
                        type: integer
              examples:
                Success_V2:
                  summary: Success - V2 format response
                  value:
                    paging:
                      totalPages: 1
                      totalItems: 1
                      currentPage: 1
                      itemsPerPage: 50
                    transactions:
                    - id: 019bec33-7f67-7b71-a499-60d75.........
                      amount:
                        amount: 717
                        currency: USD
                      status: processed
                      paymentType: payment
                      userId: us-east-1:359b6261-2067-4b33-aa5f-97a8d92551e4
                      title: AP Test Transaction
                      createdDate: '2017-10-15T00:43:19+00:00'
                      modifiedDate: '2026-01-23T00:43:19+00:00'
                      apFee: '0.00'
                      isRtp: false
                      merchantId: 300
                      locationId: 300
                      userAccountId: 3
                      customerName: Carlos Campbell
                      locationName: Walgreens
                      merchantName: Walgreens
        '400':
          description: Bad Request - Validation Errors
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              examples:
                Error_Missing_UUID:
                  summary: Fail - V2 Missing required Parameter
                  value:
                    error:
                      code: AP700
                      message: 'Missing required Parameter: ''uuid'''
      operationId: postV2TransactionSearch
      x-operation-id-source: derived
  /v2/paymentLink:
    parameters: []
    post:
      summary: paymentLink
      description: 'Send a payment link via SMS or email for the given merchant.


        Error Glossary (click to expand)


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP009` | 401 | Unauthorized |

        | `AP101` | 401 | No authenticated user |

        | `AP201` | 200 | No merchant found for merchant id |

        | `AP203` | 200 | Unable to get location for merchant |

        | `AP204` | 200 | Location does not belong to merchant |

        | `AP208` | 200 | Failed to fetch location for uuid |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: Accept
        in: header
        required: false
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A merchant scoped token.
        example: Bearer {{merchantScopedToken}}
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - merchantId
              properties:
                merchantId:
                  type: string
                  description: The unique identifier for the merchant.
                phone:
                  type: string
                  description: The user's phone number to send the payment link to. One of phone or email is required; if both are supplied, phone delivery is used.
                email:
                  type: string
                  description: The user's email address to send the payment link to. One of phone or email is required; if both are supplied, phone delivery is used.
                merchantLocationId:
                  oneOf:
                  - type: integer
                  - type: string
                    format: uuid
                  description: The merchant location id or uuid to associate with the payment link. Must belong to the merchant in merchantId. Defaults to the merchant's default location if omitted.
                referenceId:
                  type: string
                  description: Merchant reference id of the payment link. Max length 64.
                amount:
                  type: object
                  description: Dictionary with currency and amount in pennies. Only USD supported at this time
                  properties:
                    amount:
                      type: integer
                      description: Payment amount in pennies
                    currency:
                      type: string
                      description: Currency. Currently only supports USD
                userId:
                  type: string
                  description: The unique identifier for the user the link is for.
                paymentType:
                  type: string
                  description: Type of payment link to generate, e.g. preauth/preauthorized. subscription is not supported.
            example:
              merchantId: '{{mainMerchantId}}'
              phone: '{{userPhoneNumber}}'
              merchantLocationId: 65400d5b-d0aa-4e3a-9c9a-3f9e2f1a1234
              referenceId: merchant-reference-123
              amount:
                amount: 1000
                currency: USD
              userId: '{{userId}}'
        required: true
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Fri, 02 Jan 2026 15:02:42 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success - Payment Link Sent
          content:
[...]
