openapi: 3.0.0
info:
  title: Aeropay v2 API
  version: 1.0.0
  description: '# Introduction


    Welcome to the Aeropay developer API documentation. Aeropay facilitates smart bank transfers that are quick and secure.
    Please use the following documentation to learn more about how you can integrate Aeropay into your platform.


    **NOTE:** For quickest integration - please review our javascript SDK.


    # Onboarding


    Before you begin, you must first request a test account in the Aeropay sandbox environment. Please email [support@aeropay.com](https://mailto:support@aeropay.com)
    - once approved, we’ll send you sandbox credentials.


    # Environments


    Aeropay has two environments; staging and production. The staging environment is used for integration and testing. Ready
    to go live? Access to the production environment will be granted for processing live transactions.


    **NOTE:** Be sure to use the appropriate API key for the environment you wish to use. Tokens have a 30 minute TTL.


    **API URLs**


    (staging) [https://staging-api.aeropay.com](https://staging-api.aeropay.com)


    (production) [https://api.aeropay.com](https://api.aeropay.com)


    # Users & Merchants


    There are two primary parties utilizing the Aeropay platform - users and merchants. Users initiate transactions with payment
    to the merchant while merchants typically receive payments from users.


    Please see the User Management section to learn more about how to create and manage users on the AeroPay platform.'
servers:
- url: https://api.sandbox-pay.aero.inc
  variables: {}
paths:
  /v2/token:
    post:
      summary: token
      description: 'Authenticates API integrators for every Aeropay endpoint.


        Returns a transient JSON web token (JWT) to authorize access to the AeroPay API. Tokens last for 30 minutes and are
        required in the authorization header formatted as: `Bearer {{token}}`.


        **Scopes**

        The `scope` parameter determines who is acting on the system and which endpoints are available:

        * **`merchant`**: Used for merchant calls. To obtain a merchant scoped token, the `id` parameter is required.

        * **`userForMerchant`**: Used to act on behalf of users created by your merchant. To obtain a userForMerchant scoped
        token, an additional `userId` is required along with all merchant credentials (`api_key`, `api_secret`, `id`).


        <details>

        <summary><strong>Error Glossary</strong> (click to expand)</summary>


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP002` | 401 | Invalid API key or secret key |

        | `AP006` | 401 | Client not authorized for this scope |

        | `AP101` | 401 | No authenticated user |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |


        </details>'
      tags:
      - Authentication
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - title: Merchant Scope
                type: object
                properties:
                  apiKey:
                    type: string
                  apiSecret:
                    type: string
                  scope:
                    type: string
                    description: Type of token requested
                    enum:
                    - merchant
                  id:
                    type: integer
                    description: Merchant Id. Required for merchant or userForMerchant token.
                required:
                - apiKey
                - apiSecret
                - scope
                - id
              - title: User For Merchant Scope
                type: object
                properties:
                  apiKey:
                    type: string
                  apiSecret:
                    type: string
                  scope:
                    type: string
                    description: Type of token requested
                    enum:
                    - userForMerchant
                  id:
                    type: integer
                    description: Merchant Id. Required for merchant or userForMerchant token.
                  userId:
                    type: string
                    description: UUID id of user. Required for userForMerchant token.
                required:
                - apiKey
                - apiSecret
                - scope
                - id
                - userId
            examples:
              MerchantToken:
                summary: Merchant Scope Request
                value:
                  apiKey: '{{api_key}}'
                  apiSecret: '{{api_secret}}'
                  scope: merchant
                  id: '{{mainMerchantId}}'
              UserForMerchantToken:
                summary: User For Merchant Request
                value:
                  apiKey: '{{api_key}}'
                  apiSecret: '{{api_secret}}'
                  scope: userForMerchant
                  id: '{{mainMerchantId}}'
                  userId: '{{userId}}'
      responses:
        '200':
          description: Success - Token generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  TTL:
                    type: integer
                  token:
                    type: string
              example:
                TTL: 1800
                token: eyJ0eXAiOiJKV1Qi...
        '400':
          description: Bad Request - Validation Errors. See examples for common vs. scope-specific errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              examples:
                Common_InvalidScope:
                  summary: 'Common: Invalid scope'
                  value:
                    error:
                      code: AP700
                      message: Invalid scope
                Common_MissingScope:
                  summary: 'Common: Missing scope'
                  value:
                    error:
                      code: AP700
                      message: 'Missing required Parameter: ''scope'''
                Common_MissingSecret:
                  summary: 'Common: Missing apiSecret'
                  value:
                    error:
                      code: AP700
                      message: 'Missing required Parameter: ''apiSecret'''
                Common_MissingKey:
                  summary: 'Common: Missing apiKey'
                  value:
                    error:
                      code: AP700
                      message: 'Missing required Parameter: ''apiKey'''
                Common_InvalidId:
                  summary: 'Common: Invalid id format'
                  value:
                    error:
                      code: AP701
                      message: 'Improperly formatted parameter: [''id: invalid UUID format'']'
                UserScope_MissingUserId:
                  summary: 'UserForMerchant ONLY: Missing userId'
                  value:
                    error:
                      code: AP700
                      message: 'Missing required Parameter: ''userId'''
                UserScope_InvalidUsername:
                  summary: 'UserForMerchant ONLY: Invalid username format'
                  value:
                    error:
                      code: AP701
                      message: 'Improperly formatted parameter: [''userId: invalid username format'']'
        '401':
          description: Unauthorized - Authentication Failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                error:
                  code: AP002
                  message: invalid API key or secret key
  /v2/user:
    parameters: []
    post:
      summary: user
      description: 'Create a user associated with the authorized merchant.


        When creating a user, a `userId` is returned. This `userId` is required for referencing the user within the AeroPay
        system.


        <details>

        <summary><strong>Error Glossary</strong> (click to expand)</summary>


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP006` | 401 | Client not authorized for this scope |

        | `AP101` | 401 | No authenticated user |

        | `AP102` | 200 | Unable to create user |

        | `AP105` | 200 | Phone number missing area code |

        | `AP106` | 200 | Improperly formatted phone number |

        | `AP115` | 200 | Unsupported phone type |

        | `AP118` | 200 | Name cannot contain numbers or special characters |

        | `AP119` | 200 | Unsupported country code  -  US numbers only |

        | `AP700` | 400 | Missing or invalid required parameter |


        </details>'
      tags:
      - User Management
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A merchant scoped token.
        example: Bearer {{merchantScopedToken}}
        schema:
          type: string
      requestBody:
        description: Payload to create a new consumer user.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userRequest'
            example:
              firstName: John
              lastName: Doe
              email: test@test.com
              phoneNumber: '13125826818'
        required: true
      responses:
        '200':
          description: Success or Validation Failure (Unified 200)
          headers:
            Date:
              schema:
                type: string
              example: Tue, 24 Jun 2025 20:24:21 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/userObject'
                - $ref: '#/components/schemas/200failure'
              examples:
                Success_User_Response_MFA:
                  summary: 'Success: User Response with MFA'
                  value:
                    user:
                      id: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      firstName: JohnNew
                      lastName: DoeNew
                      type: consumer
                      email: test-1754932665@aeropay.com
                      phoneNumber: '+11754932665'
                      createdDate: '2025-02-27T12:59:32+00:00'
                    mfaType: null
                Error_MissingEmail:
                  summary: 'Error: Missing Email'
                  value:
                    error:
                      help: Contact support@aeropay.com for help.
                      code: AP700
                      message: 'Missing required Parameter: ''email'''
                Error_MissingPhone:
                  summary: 'Error: Missing Phone Number'
                  value:
                    error:
                      help: Contact support@aeropay.com for help.
                      code: AP700
                      message: 'Missing required Parameter: ''phoneNumber'''
                Error_InvalidPhoneFormat:
                  summary: 'Error: Invalid Phone Format'
                  value:
                    error:
                      help: Contact support@aeropay.com for help.
                      code: AP115
                      message: We're sorry, but the type of phone you entered is not supported or invalid.
                Error_InvalidNameFormat:
                  summary: 'Error: Invalid Name Format'
                  value:
                    error:
                      help: Contact support@aeropay.com for help.
                      code: AP118
                      message: User cannot be created with numbers or special characters
                Error_ImproperlyFormatted:
                  summary: 'Error: Improperly Formatted Parameter'
                  value:
                    error:
                      help: Contact support@aeropay.com for help.
                      code: AP700
                      message: 'Improperly formatted parameter: [''firstName'']'
        '401':
          description: Unauthorized - Invalid or missing Merchant Token
          content:
            application/json:
              example:
                error:
                  code: AP002
                  message: invalid API key or secret key
    get:
      summary: user
      description: 'Fetch a user associated with the merchant.


        The user fetched is based on the `userId` provided in the `/token` call.


        <details>

        <summary><strong>Error Glossary</strong> (click to expand)</summary>


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP101` | 401 | No authenticated user |


        </details>'
      tags:
      - User Management
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A userForMerchant scoped token.
        example: Bearer {{userForMerchantScopedToken}}
        schema:
          type: string
      responses:
        '200':
          description: Success
          headers:
            Date:
              schema:
                type: string
              example: Tue, 29 Jul 2025 11:07:36 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/userGetResponse'
                - $ref: '#/components/schemas/200failure'
              examples:
                Success_UserDetails:
                  summary: 'Success: Get User Details'
                  value:
                    user:
                      id: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      firstName: JohnNew
                      lastName: DoeNew
                      type: consumer
                      email: test-1754932665@aeropay.com
                      phoneNumber: '+11754932665'
                      createdDate: '2025-02-27T12:59:32+00:00'
                      userStatus: Active
        '401':
          description: Unauthorized - Invalid or missing User Token
          content:
            application/json:
              example:
                error:
                  code: AP002
                  message: invalid API key or secret key
  /v2/confirmUser:
    parameters: []
    post:
      summary: confirmUser
      description: 'Verifies a user account with the MFA code they receive.


        <details>

        <summary><strong>Error Glossary</strong> (click to expand)</summary>


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP101` | 401 | No authenticated user |

        | `AP111` | 200 | Invalid verification code |

        | `AP112` | 200 | Max verification attempts exceeded |

        | `AP113` | 200 | User does not exist |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |


        </details>'
      tags:
      - User Management
      parameters:
      - name: authorization
        in: header
        required: true
        description: A merchant scoped token.
        example: Bearer {{merchantScopedToken}}
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              title: confirmUserObject
              type: object
              required:
              - userId
              - code
              - merchantId
              properties:
                userId:
                  type: string
                  description: Id of the user to be confirmed
                code:
                  type: string
                  description: Verification code
                merchantId:
                  type: integer
                  description: Merchant identifier
            example:
              userId: '14831'
              code: '223324'
              merchantId: '1234'
        required: true
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Tue, 29 Jul 2025 18:21:59 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success - User Confirmed
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/confirmUserObject'
                - $ref: '#/components/schemas/200failure'
              examples:
                Success_V2:
                  summary: Success V2 - User Confirmed
                  value:
                    user:
                      id: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      firstName: JohnNew
                      lastName: DoeNew
                      type: consumer
                      email: test-1754932665@aeropay.com
                      phoneNumber: '+11754932665'
                      createdDate: '2025-02-27T12:59:32+00:00'
                      userStatus: Active
                Error_UserNotExist:
                  summary: Fail - User does not exist
                  value:
                    error:
                      help: contact support@aeropay.com for help
                      code: AP113
                      message: User does not exist
        '400':
          description: Bad Request - Validation Errors
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              examples:
                Error_ImproperUserId:
                  summary: Fail - Improper userId
                  value:
                    error:
                      help: contact support@aeropay.com for help
                      code: AP701
                      message: 'Improperly formatted parameter: [''userId'']'
  /v2/aggregatorCredentials:
    parameters: []
    get:
      summary: aggregatorCredentials
      description: 'Request a new aggregator URL to launch an aggregator widget with a unique token.


        This will allow users to link their bank account.


        <details>

        <summary><strong>Error Glossary</strong> (click to expand)</summary>


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP101` | 401 | No authenticated user |

        | `AP407` | 200 | Bank linking disabled on account |

        | `AP408` | 200 | Unknown aggregator |

        | `AP409` | 200 | Invalid redirectURI |


        </details>'
      tags:
      - Bank Connection
      parameters:
      - name: aggregator
        in: query
        required: true
        description: The aggregator you are using to launch a bank linking widget. Only accepted value is aerosync
        example: aerosync
        schema:
          type: string
          enum:
          - aerosync
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A userForMerchant scoped token.
        example: Bearer {{userForMerchantScopedToken}}
        schema:
          type: string
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Tue, 29 Jul 2025 18:05:13 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success or Business Logic Error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/aggregatorCredentialsResponse'
                - $ref: '#/components/schemas/200failure'
              examples:
                Success_CorrectToken:
                  summary: Success - Correct Token
                  value:
                    fastlinkURL: https://sandbox.aerosync.com/
                    token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...
                    username: 16d96afbeaf0........
                Error_InvalidAggregator:
                  summary: Fail - Invalid Aggregator
                  value:
                    error:
                      code: AP408
                      message: Unknown Aggregator aerosyncj
        '400':
          description: Bad Request - Validation Errors
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
              examples:
                Error_InvalidURI:
                  summary: Fail - Invalid URI format
                  value:
                    code: INVALID_FORMAT
                    message: The redirectURI is not a valid URL structure.
                Error_MissingAggregator:
                  summary: Fail - Missing aggregator
                  value:
                    code: MISSING_PARAMETER
                    message: The aggregator parameter is required.
  /v2/linkAccountFromAggregator:
    parameters: []
    post:
      summary: linkAccountFromAggregator
      description: 'Associates a user bank account with their AeroPay account.


        This call is to be made after a user goes through an aggregator bank connection flow leveraging the URL from `/v2/aggregatorCredentials`
        endpoint. You will receive the `connectionId` as response attributes from the aggregator widget.


        <details>

        <summary><strong>Error Glossary</strong> (click to expand)</summary>


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP101` | 401 | No authenticated user |

        | `AP300` | 200 | Unable to connect to bank |

        | `AP403` | 200 | Bank not supported |

        | `AP404` | 200 | Invalid routing number |

        | `AP408` | 200 | Unknown aggregator |

        | `AP409` | 200 | Invalid redirectURI |

        | `AP410` | 200 | Error linking bank account |

        | `AP411` | 200 | Invalid account type  -  connect a checking account |

        | `AP414` | 200 | Maximum linked accounts reached |

        | `AP415` | 200 | Bank account already linked |

        | `AP700` | 400 | Missing or invalid required parameter |


        </details>'
      tags:
      - Bank Connection
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A userForMerchant scoped token.
        example: Bearer {{userForMerchantScopedToken}}
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              title: linkAccountFromAggregatorRequest
              description: Body of linkAccountFromAggregator call
              type: object
              required:
              - connectionId
              - aggregator
              properties:
                connectionId:
                  type: string
                  description: ConnectionId returned from Aerosync SDK
                aggregator:
                  type: string
                  description: aerosync
                  enum:
                  - aerosync
            example:
              connectionId: '{{connectionId}}'
              aggregator: aerosync
        required: true
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Wed, 30 Jul 2025 12:19:17 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success or Connection Failure
          content:
            application/json:
              schema:
                oneOf:
                - title: Post aggregatorCredentials Response
                  type: object
                  properties:
                    userBankInfo:
                      type: object
                      properties:
                        bankAccountId:
                          type: integer
                        bankName:
                          type: string
                        accountLast4:
                          type: string
                        name:
                          type: string
                        externalBankAccountId:
                          type: string
                        isSelected:
                          type: boolean
                        accountType:
                          type: string
                        status:
                          type: string
                        createdDate:
                          type: string
                        accountHolderInfo:
                          type: array
                          items:
                            type: object
                        canFetchBalance:
                          type: boolean
                        balance:
                          type: integer
                - title: Failure Response
                  type: object
                  properties:
                    success:
                      type: boolean
                    code:
                      type: string
                    error:
                      type: string
              examples:
                Success:
                  summary: Success
                  value:
                    userBankInfo:
                      bankAccountId: 0
                      bankName: Aerosync Bank (oAuth)
                      accountLast4: '1329'
                      name: Aerosync Checking
                      externalBankAccountId: None
                      isSelected: true
                      accountType: checking
                      status: verified
                      createdDate: '2025-12-11T21:50:22+00:00'
                      accountHolderInfo:
                      - name:
                          fullName: Dwight Schrute
                      canFetchBalance: true
                      balance: 312425
                Fail_IncorrectBody:
                  summary: Fail - Incorrect body
                  value:
                    success: false
                    code: AP300
                    error: We are having issues connecting to your bank. Try reconnecting your bank or reach out to support@aeropay.com
                      to resolve the issue.
  /v2/userBankAccount/{bankAccountId}:
    parameters:
    - name: bankAccountId
      in: path
      required: true
      description: The unique identifier of the bank account to update.
      example: '{{bankAccountId}}'
      schema:
        type: string
    patch:
      summary: userBankAccount
      description: 'Selects a user''s bank account. This sets the default bank account for transactions. If no bankAccountId
        is provided in the /transaction call, the selected account will be used.


        <details>

        <summary><strong>Error Glossary</strong> (click to expand)</summary>


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP101` | 401 | No authenticated user |

        | `AP400` | 200 | No bank account linked |

        | `AP401` | 400 | Cannot validate bank account |

        | `AP412` | 200 | Bank account already removed |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |


        </details>'
      tags:
      - Bank Connection
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A userForMerchant scoped token.
        example: Bearer {{userForMerchantScopedToken}}
        schema:
          type: string
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Thu, 07 Aug 2025 14:09:05 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success - Bank Account Updated
          content:
            application/json:
              schema:
                oneOf:
                - title: Patch use response
                  type: object
                  properties:
                    bankAccount:
                      type: object
                      properties:
                        bankAccountId:
                          type: integer
                        bankName:
                          type: string
                        accountLast4:
                          type: string
                        name:
                          type: string
                        isSelected:
                          type: boolean
                        accountType:
                          type: string
                        status:
                          type: string
                        createdDate:
                          type: string
                - $ref: '#/components/schemas/200failure'
              examples:
                Success_Activated:
                  summary: Success - activated bank account
                  value:
                    bankAccount:
                      bankAccountId: 0
                      bankName: Aerosync Bank (MFA)
                      accountLast4: '0000'
                      name: Aerosync Checking
                      isSelected: true
                      accountType: checking
                      status: verified
                      createdDate: '2025-12-01T18:52:37+00:00'
        '400':
          description: Bad Request - Validation Errors
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              examples:
                Fail_InvalidAccount:
                  summary: Fail - invalid bank account
                  value:
                    error:
                      code: AP401
                      message: We cannot validate the account you're attempting to connect. Please connect a valid account.
  /v2/bankAccounts:
    get:
      summary: bankAccounts
      description: 'Retrieve a list of bank accounts associated with the authenticated user.


        <details>

        <summary><strong>Error Glossary</strong> (click to expand)</summary>


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP101` | 401 | No authenticated user |


        </details>'
      tags:
      - Bank Connection
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A userForMerchant scoped token.
        example: Bearer {{userForMerchantScopedToken}}
        schema:
          type: string
      responses:
        '200':
          description: Success
          headers:
            Date:
              schema:
                type: string
              example: Tue, 02 Dec 2025 20:26:27 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  bankAccounts:
                    type: array
                    items:
                      type: object
                      properties:
                        bankAccountId:
                          type: integer
                        bankName:
                          type: string
                        accountLast4:
                          type: string
                        name:
                          type: string
                        isSelected:
                          type: boolean
                        accountType:
                          type: string
                        status:
                          type: string
                        createdDate:
                          type: string
                        connectionId:
                          type: string
                          format: uuid
                          description: Optional connection identifier for this bank account. Present only when the Bank Aggregator
                            is AeroSync.
              examples:
                Success:
                  summary: Success - Multiple Accounts
                  value:
                    bankAccounts:
                    - bankAccountId: 1139036
                      bankName: Aerosync Bank (MFA)
                      accountLast4: '3535'
                      name: Aerosync Checking
                      isSelected: true
                      accountType: checking
                      status: verified
                      createdDate: '2025-12-01T18:52:37+00:00'
                      connectionId: bd9d48bd-8b51-4e6e-9f4b-5f5e8f4b0a10
                    - bankAccountId: 1139682
                      bankName: Aerosync Bank (oAuth)
                      accountLast4: '1329'
                      name: Aerosync Checking
                      isSelected: false
                      accountType: checking
                      status: verified
                      createdDate: '2025-12-11T21:50:22+00:00'
                      connectionId: 2e6f7a9b-0df6-4d6c-9b4e-3c9f1c4c7e21
                Success_One:
                  summary: Success - One Account
                  value:
                    bankAccounts:
                    - bankAccountId: 957022
                      bankName: undefined
                      accountLast4: '5432'
                      name: Test EA Account
                      isSelected: true
                      accountType: checking
                      status: None
                      createdDate: '2025-08-13T16:47:00+00:00'
                Success_Empty:
                  summary: Success - No Accounts
                  value:
                    bankAccounts: []
        '401':
          description: Unauthorized - Invalid or missing Token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                error:
                  code: AP002
                  message: invalid API key or secret key
  /v2/transaction:
    parameters: []
    post:
      summary: transaction
      description: 'Create an Aeropay Transaction Object where funds will move from a user to a merchant.


        The `userForMerchant` token specifies the paying user. The merchant being paid is specified by the `merchantId` in
        the request body. The user''s default bank account will be selected if no `bankAccountId` is specified.


        **Attributes** are AeroPay formatted data that you may wish to include with your transaction. For example, an invoice
        number or the tracking of a tip amount.


        **NOTE:** Tip amounts will be added to the ''amount'' value.


        <details>

        <summary><strong>Error Glossary</strong> (click to expand)</summary>


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP101` | 401 | No authenticated user |

        | `AP103` | 200 | Unable to set user reputation level |

        | `AP109` | 200 | Delinquent activity on account |

        | `AP110` | 200 | User profile incomplete |

        | `AP114` | 200 | Account restricted by merchant |

        | `AP201` | 200 | No merchant found for merchant id |

        | `AP203` | 200 | Unable to get location for merchant |

        | `AP205` | 200 | Unable to get rewards and fees for merchant |

        | `AP206` | 200 | Unable to get merchant account |

        | `AP300` | 200 | Unable to connect to bank |

        | `AP302` | 200 | Insufficient funds |

        | `AP303` | 200 | Transaction missing location |

        | `AP304` | 200 | Transaction amount exceeds limit |

        | `AP306` | 200 | Insufficient balance |

        | `AP307` | 200 | Payment declined  -  try a lower amount |

        | `AP308` | 200 | Invalid amount |

        | `AP314` | 200 | Transaction already exists |

        | `AP315` | 200 | Payment rejected  -  threshold or suspended bank |

        | `AP400` | 200 | No bank account linked |

        | `AP401` | 400 | Cannot validate bank account |

        | `AP402` | 200 | No bank account for merchant |

        | `AP403` | 200 | Bank not supported |

        | `AP404` | 200 | Invalid routing number |

        | `AP411` | 200 | Invalid account type  -  connect a checking account |

        | `AP412` | 200 | Bank account already removed |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |

        | `AP1400` | 400 | Idempotency key reused with different payload |

        | `AP1401` | 400 | Request with same idempotency key still processing |

        | `AP1402` | 400 | Invalid idempotency key structure |


        </details>'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A userForMerchant scoped token.
        example: Bearer {{userForMerchantScopedToken}}
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        description: Optional UUID value to ensure idempotent transaction.
        example: 123e4567-e89b-12d3-a456-426614174000
        schema:
          type: string
          format: uuid
      requestBody:
        description: Body of transaction call
        content:
          application/json:
            schema:
              title: transactionRequest
              type: object
              required:
              - merchantId
              - amount
              properties:
                bankAccountId:
                  type: integer
                  description: default bank account for the user will be used if not specified
                merchantId:
                  type: integer
                  description: MerchantId
                amount:
                  type: object
                  description: Dictionary with currency and amount in pennies. Only USD supported at this time
                  properties:
                    amount:
                      type: integer
                      description: Payment amount in pennies
                    currency:
                      type: string
                      description: Currency. Currently only supports USD
                referenceId:
                  type: string
                  description: Merchant reference id of transaction
                attributes:
                  type: object
                  description: Dictionary with attributes. Tip and invoice are standard formats. Custom attributes must follow
                    value/description dictionary formatting.
                  properties:
                    CUSTOM ATTRIBUTE:
                      type: object
                      properties:
                        value:
                          type: string
                          description: Value identifier of custom attribute
                        description:
                          type: string
                          description: Description of custom attribute
                    invoice:
                      type: object
                      properties:
                        value:
                          type: string
                          description: Value identifier of invoice
                          example: Value
                        description:
                          type: string
                          description: Description of invoice
                          example: Description
                    tip:
                      type: object
                      properties:
                        tipAmount:
                          type: string
                          description: Required. Amount of tip, in format XX.XX
                        label:
                          type: string
                          description: Required. String representation of tip, including $
                        totalAmount:
                          type: string
                          description: Required. Amount + tip, in format XX.XX. This can be used for reconciliation and to
                            guarantee accurate amount value
                      example:
                        tipAmount: '1.00'
                        label: $1.00
                        totalAmount: '2.00'
        required: true
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Wed, 30 Jul 2025 13:07:17 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success or Business Logic Error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/transactionResponse'
                - $ref: '#/components/schemas/200failure'
              examples:
                Success_With_Reference:
                  summary: Success - with referenceId
                  value:
                    transaction:
                      id: f79c19d4-11fd-408e-940f-c341667563b9
                      amount:
                        amount: 400
                        currency: USD
                      status: pending
                      paymentType: payment
                      userId: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      referenceId: merchant-ref-id
                      attributes:
                        ATTRIBUTE NAME:
                          value: ATTRIBUTE VALUE
                          description: ATTRIBUTE DESCRIPTION
                        tip:
                          selection:
                            tipAmount: 1
                            label: $0.01
                            totalAmount: '4.00'
                      isRtp: false
                      merchantId: 582
                      title: Online Transaction
                      locationId: 541
                      userAccountId: 1139036
                Success_Minimal:
                  summary: Success - no referenceId or tip
                  value:
                    transaction:
                      id: f79c19d4-11fd-408e-940f-c341667563b9
                      amount:
                        amount: 400
                        currency: USD
                      status: pending
                      paymentType: payment
                      userId: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      isRtp: false
                      merchantId: 582
                      title: Online Transaction
                      locationId: 541
                      userAccountId: 1139036
                Success_ValidTip_NoReferenceID:
                  summary: Success - valid tip
                  value:
                    transaction:
                      id: f79c19d4-11fd-408e-940f-c341667563b9
                      amount:
                        amount: 400
                        currency: USD
                      status: pending
                      paymentType: payment
                      userId: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      attributes:
                        ATTRIBUTE NAME:
                          value: ATTRIBUTE VALUE
                          description: ATTRIBUTE DESCRIPTION
                        tip:
                          selection:
                            tipAmount: 1
                            label: $0.01
                            totalAmount: '4.00'
                      isRtp: false
                      merchantId: 582
                      title: Online Transaction
                      locationId: 541
                      userAccountId: 1139036
                Error_InvalidTipCalculation:
                  summary: Fail - Invalid total tip amount
                  value:
                    error:
                      code: ApError
                      message: 'Invalid total amount calculation: 13.34 not 1.03'
        '400':
          description: Bad Request - Validation Errors
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              examples:
                Error_InvalidAmountFormat:
                  summary: Fail - Invalid amount format
                  value:
                    error:
                      code: AP701
                      message: 'Improperly formatted parameter: [''amount: money amount must be a dictionary'']'
                Error_InvalidReference:
                  summary: Fail - invalid referenceId (>64)
                  value:
                    error:
                      code: AP701
                      message: 'Improperly formatted parameter: [''referenceId: exceeded maximum length of 64'']'
                Error_MissingCurrency:
                  summary: Fail - Missing amount/currency
                  value:
                    error:
                      code: VALIDATION_ERROR
                      message: Currency is required
  /v2/transaction/{transactionUUID}/refunds:
    parameters:
    - name: transactionUUID
      in: path
      required: true
      description: Transaction UUID (id returned from POST /v2/transaction)
      schema:
        type: string
        format: uuid
    get:
      summary: transactionRefunds
      description: 'Retrieve the current refund state for a specific transaction.


        Returns two arrays:

        - **`refunds`** — processed or pending reversal transactions. Shape matches a standard transaction object. Always
        present; empty when no refunds have been processed.

        - **`queuedRefunds`** — individually tracked refunds that have been requested but not yet processed (e.g. the original
        transaction has not yet cleared). Each item has `id`, `referenceId`, `amount` (with `amount` and `currency`), and
        `status` (`queued` or `abandoned`). Always present; empty when nothing is queued.


        The `id` on a queued refund item is the uuid assigned at the time POST /v2/reverseTransaction was called (either supplied
        by the client or system-generated). That same uuid becomes the `id` of the resulting reversal transaction once processed.


        **Multiple reversals:** A transaction can have more than one independent reversal. Each POST /v2/reverseTransaction
        call produces its own record. Both `refunds` and `queuedRefunds` may contain multiple entries.


        <details>

        <summary><strong>Error Glossary</strong> (click to expand)</summary>


        | Code | HTTP Status | Message |

        |------|-------------|---------|

        | `AP011` | 401 | Unauthorized |

        | `AP101` | 401 | No authenticated user |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |


        </details>'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: Content-Type
        in: header
        required: false
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A userForMerchant scoped token.
        example: Bearer {{userForMerchantScopedToken}}
        schema:
          type: string
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Mon, 22 Jan 2026 10:30:00 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success - Transaction refunds retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transactionRefundsResponse'
              examples:
                hasRefunds:
                  summary: Transaction has processed/pending refunds
                  value:
                    refunds:
                    - id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      amount:
                        amount: 5000
                        currency: USD
                      status: processed
                      paymentType: reversal
                      userId: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      title: Refund for Online Transaction
                      referenceId: 0123456789
                      attributes: []
                      createdDate: '2026-01-22T10:30:00+00:00'
                      modifiedDate: '2026-01-22T10:30:00+00:00'
                      apFee: '0.00'
                      isRtp: false
                      merchantId: 582
                      locationId: 541
                      userAccountId: 1139036
                    - id: b2c3c3d4-e5f6-7890-abcd-ef1234567890
                      amount:
                        amount: 1000
                        currency: USD
                      status: pending
                      paymentType: reversal
                      userId: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      title: Refund for Online Transaction
                      referenceId: 0123456789
                      attributes: []
                      createdDate: '2026-01-24T10:30:00+00:00'
                      modifiedDate: '2026-01-24T10:30:00+00:00'
                      apFee: '0.00'
                      isRtp: false
                      merchantId: 582
                      locationId: 541
                      userAccountId: 1139036
                    queuedRefunds: []
                hasQueuedRefunds:
                  summary: Transaction has queued refunds pending processing
                  value:
                    refunds: []
                    queuedRefunds:
                    - id: a3f1c2d4-e5b6-7890-abcd-ef1234567890
                      referenceId: b4e2d3f5-f6c7-8901-bcde-fa2345678901
                      amount:
                        amount: 1500
                        currency: USD
                      status: queued
                    - id: c5d3e4f6-a7b8-9012-cdef-ab3456789012
                      referenceId: null
                      amount:
                        amount: 500
                        currency: USD
                      status: queued
                noRefunds:
                  summary: Transaction has no refunds
                  value:
                    refunds: []
                    queuedRefunds: []
  /v2/transaction/idempotency/{idempotencyKey}:
    parameters:
    - name: idempotencyKey
      in: path
      required: true
      description: Idempotency key UUID sent as the Idempotency-Key header on the original POST /v2/transaction request
      schema:
        type: string
        format: uuid
    get:
      summary: getTransactionByIdempotencyKey
      description: 'Fetches the original transaction response by the idempotency key used during the POST /v2/transaction
        request.


        **Security Behavior**


        To prevent information leakage, this endpoint returns an empty object `{}` in all negative cases — including when
        the idempotency key does not exist and when the key exists but belongs to a different merchant. Callers cannot distinguish
        between the two scenarios.


        **Loss of Reference Behavior**


        The idempotency key can reference the transaction only until the TTL expires. The current TTL is 1 day. After that,
        the transaction may exist but cannot be retrieved by the idempotency key.'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: Content-Type
        in: header
        required: false
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: false
        description: A merchant scoped token.
        example: Bearer {{merchantScopedToken}}
        schema:
          type: string
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Tue, 24 Jun 2025 20:24:21 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Returns the transaction response originally stored for this idempotency key, or an empty object if
            no record is found or the key belongs to a different merchant.
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/transactionGetResponse'
                - $ref: '#/components/schemas/emptyResponse'
              examples:
                found:
                  summary: Idempotency key found — returns original transaction response
                  value:
                    transaction:
                      id: f79c19d4-11fd-408e-940f-c341667563b9
                      amount:
                        amount: 400
                        currency: USD
                      status: pending
                      paymentType: payment+
                      userId: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      title: Online Transaction
                      referenceId: 0123456789
                      attributes:
                      - value: '1'
                        name: tip
                        description: flat
                      - value: ATTRIBUTE VALUE
                        name: ATTRIBUTE NAME
                        description: ATTRIBUTE DESCRIPTION
                      createdDate: '2026-01-21T02:14:45+00:00'
                      modifiedDate: '2026-01-21T02:14:45+00:00'
                      apFee: '0.03'
                      isRtp: false
                      merchantId: 582
                      locationId: 541
                      userAccountId: 1139036
                notFound:
                  summary: Idempotency key not found or belongs to a different merchant
                  value: {}
        '400':
          description: Missing or invalid idempotency key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/200failure'
              example:
                error:
                  help: contact support@aeropay.com for help
                  code: AP700
                  message: 'Missing required Parameter: ''idempotencyKey'''
  /v2/transaction/{transactionId}:
    parameters:
    - name: transactionId
      in: path
      required: true
      description: Transaction Id of transaction. In UUID format.
      example: 47e1eab8-5b71-42e7-a0fd-bf30f73af6fb
      schema:
        type: string
    get:
      summary: transaction
      description: 'Fetch a transaction for the specified transaction id.


        To search for multiple transactions or by other transaction attributes, use `POST /v2/transactionSearch`.


        <details>

        <summary><strong>Error Glossary</strong> (click to expand)</summary>


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP011` | 401 | Unauthorized for this transaction |

        | `AP101` | 401 | No authenticated user |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |


        </details>'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A merchant scoped token.
        example: Bearer {{merchantScopedToken}}
        schema:
          type: string
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Thu, 07 Aug 2025 14:22:24 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success or Transaction Not Found
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/transactionGetResponse'
                - $ref: '#/components/schemas/200failure'
              examples:
                Success_V2_Reference:
                  summary: Success - V2 referenceId
                  value:
                    transaction:
                      id: f79c19d4-11fd-408e-940f-c341667563b9
                      amount:
                        amount: 400
                        currency: USD
                      status: pending
                      paymentType: payment
                      userId: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      referenceId: merchant-ref-id
                      attributes:
                        ATTRIBUTE NAME:
                          value: ATTRIBUTE VALUE
                          description: ATTRIBUTE DESCRIPTION
                        tip:
                          selection:
                            tipAmount: 1
                            label: $0.01
                            totalAmount: '4.00'
                      isRtp: false
                      createdDate: '2026-01-02T11:45:32+00:00'
                      modifiedDate: '2026-01-02T11:45:32+00:00'
                      apFee: '0.03'
                      merchantId: 582
                      title: Online Transaction
                      locationId: 541
                      userAccountId: 1139036
                Success_V2_NoReference:
                  summary: Success - V2 no referenceId
                  value:
                    transaction:
                      id: 5c10f370-387a-4aa0-8f94-56fecc4b0d84
                      amount:
                        amount: 3
                        currency: USD
                      status: pending
                      paymentType: payment
                      userId: '2181'
                      title: Online Transaction
                      attributes:
                      - value: ATTRIBUTE VALUE
                        name: ATTRIBUTE NAME
                        description: ATTRIBUTE DESCRIPTION
                      createdDate: '2025-12-24T01:52:42+00:00'
                      modifiedDate: '2025-12-24T01:52:42+00:00'
                      apFee: '0.00'
                      isRtp: false
                      merchantId: 1057
                      locationId: 1147
                      userAccountId: 4542
                Error_NotFound:
                  summary: Fail - Invalid transaction UUID
                  value:
                    error:
                      code: ApError
                      message: Transaction 47e1eab8-5b71-42e7-a0fd-bf30f73af6fa not found
  /v2/preauthTransaction:
    parameters: []
    post:
      summary: preauthTransaction
      description: 'Create a preauthorized transaction for the user specified by the authorization token.


        The response contains a transaction object. The `id` within this transaction object is used to identify this preauthorized
        transaction.


        Preauthorized transactions do not have a default expiration, but can be configurable by merchant.


        <details>

        <summary><strong>Error Glossary</strong> (click to expand)</summary>


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP009` | 401 | Unauthorized |

        | `AP101` | 401 | No authenticated user |

        | `AP103` | 200 | Unable to set user reputation level |

        | `AP109` | 200 | Delinquent activity on account |

        | `AP110` | 200 | User profile incomplete |

        | `AP201` | 200 | No merchant found for merchant id |

        | `AP203` | 200 | Unable to get location for merchant |

        | `AP205` | 200 | Unable to get rewards and fees for merchant |

        | `AP300` | 200 | Unable to connect to bank |

        | `AP302` | 200 | Insufficient funds |

        | `AP303` | 200 | Transaction missing location |

        | `AP304` | 200 | Transaction amount exceeds limit |

        | `AP306` | 200 | Insufficient balance |

        | `AP307` | 200 | Payment declined  -  try a lower amount |

        | `AP308` | 200 | Invalid amount |

        | `AP310` | 200 | Credit transaction declined |

        | `AP314` | 200 | Transaction already exists |

        | `AP315` | 200 | Payment rejected  -  threshold or suspended bank |

        | `AP400` | 200 | No bank account linked |

        | `AP401` | 400 | Cannot validate bank account |

        | `AP402` | 200 | No bank account for merchant |

        | `AP403` | 200 | Bank not supported |

        | `AP411` | 200 | Invalid account type  -  connect a checking account |

        | `AP412` | 200 | Bank account already removed |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |

        | `AP1000` | 200 | Invalid API |

        | `AP1400` | 400 | Idempotency key reused with different payload |

        | `AP1401` | 400 | Request with same idempotency key still processing |

        | `AP1402` | 400 | Invalid idempotency key structure |


        </details>'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A userForMerchant scoped token.
        example: Bearer {{userForMerchantScopedToken}}
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        description: Optional UUID value to ensure idempotent transaction.
        example: 123e4567-e89b-12d3-a456-426614174000
        schema:
          type: string
          format: uuid
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              title: preauthtransactionRequest
              description: Body of preauthtransaction call
              type: object
              required:
              - bankAccountId
              - merchantId
              - amount
              properties:
                bankAccountId:
                  type: integer
                  description: bankAccountId of selected bank
                merchantId:
                  type: integer
                  description: MerchantId
                amount:
                  type: object
                  description: Dictionary with currency and amount in pennies. Only USD supported at this time
                  properties:
                    amount:
                      type: integer
                      description: Payment amount in pennies
                    currency:
                      type: string
                      description: Currency. Currently only supports USD
                attributes:
                  type: object
                  description: Dictionary with attributes. Tip and invoice are standard formats. Custom attributes must follow
                    value/description dictionary formatting.
                  properties:
                    CUSTOM ATTRIBUTE:
                      type: object
                      properties:
                        value:
                          type: string
                          description: Value identifier of custom attribute
                        description:
                          type: string
                          description: Description of custom attribute
                    invoice:
                      type: object
                      properties:
                        value:
                          type: string
                          description: Value identifier of invoice
                          example: Value
                        description:
                          type: string
                          description: Description of invoice
                          example: Description
                    tip:
                      type: object
                      properties:
                        tipAmount:
                          type: string
                          description: Required. Amount of tip, in format XX.XX
                        label:
                          type: string
                          description: Required. String representation of tip, including $
                        totalAmount:
                          type: string
                          description: Required. Amount + tip, in format XX.XX. This can be used for reconciliation and to
                            guarantee accurate amount value
                      example:
                        tipAmount: '1.00'
                        label: $1.00
                        totalAmount: '2.00'
                referenceId:
                  type: string
                  description: Merchant reference id of transaction
              example:
                bankAccountId: '0'
                merchantId: '1748'
                amount:
                  amount: 1234
                  currency: USD
                referenceId: 123-123-1234
        required: true
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Wed, 30 Jul 2025 16:28:20 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/preauthTransactionResponse'
                - $ref: '#/components/schemas/200failure'
              examples:
                Success_V2_NoReference:
                  summary: Success - V2 no referenceId
                  value:
                    transaction:
                      id: bec5a7b7-edd8-4580-aff5-b1ee52e73686
                      amount:
                        currency: USD
                        amount: 222
                      status: live
                      userId: d5e17cbf-92ad-44e7-b483-19dba7adaaa4
                      description: Online Transaction
                      attributes:
                        key:
                          value: KEY VALUE
                          description: KEY DESCRIPTION
                      createdDate: '2026-01-02T11:59:44+00:00'
                      expiryDate: '2026-01-04T11:59:44+00:00'
                      userName: Begos Andres
                      userEmail: begona.andresm@aeropay.com
                      merchantId: 1057
                      userAccountId: 1717
                      locationId: 1147
                Success_V2_ValidReference:
                  summary: Success - V2 valid referenceId
                  value:
                    transaction:
                      id: 53024f75-f7d1-45b7-8e4d-4449fed355ab
                      amount:
                        currency: USD
                        amount: 222
                      status: live
                      userId: d5e17cbf-92ad-44e7-b483-19dba7adaaa4
                      referenceId: check-new-ref-id
                      description: Online Transaction
                      attributes:
                        key:
                          value: KEY VALUE
                          description: KEY DESCRIPTION
                      createdDate: '2026-01-02T12:00:56+00:00'
                      expiryDate: '2026-01-04T12:00:56+00:00'
                      userName: Begos Andres
                      userEmail: begona.andresm@aeropay.com
                      merchantId: 1057
                      userAccountId: 1717
                      locationId: 1147
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              examples:
                Error_RefTooLong:
                  summary: Fail - V2 invalid referenceId (>64)
                  value:
                    error:
                      code: AP701
                      message: 'Improperly formatted parameter: [''referenceId: exceeded maximum length of 64'']'
                Error_InvalidAmount:
                  summary: Fail - Invalid amount format
                  value:
                    error:
                      code: AP701
                      message: 'Improperly formatted parameter: [''amount: money amount must be a dictionary'']'
  /v2/preauthTransaction/{preauthTransactionId}:
    parameters:
    - name: preauthTransactionId
      description: Id of preauthorized transaction to query by
      in: path
      required: true
      example: 4da64b86-eb2c-44e7-803b-fe0446505fd9
      schema:
        type: string
    get:
      summary: preauthTransaction
      description: 'Retrieve the preauthorized transaction with the id provided by the path parameter ({{preAuthTransactionId}}).


        <details>

        <summary><strong>Error Glossary</strong> (click to expand)</summary>


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP009` | 401 | Unauthorized |

        | `AP101` | 401 | No authenticated user |

        | `AP313` | 200 | Preauth ineligible for capture |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |


        </details>'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A merchant scoped token.
        example: Bearer {{merchantScopedToken}}
        schema:
          type: string
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Wed, 30 Jul 2025 16:33:02 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/preauthTransactionResponse'
                - $ref: '#/components/schemas/200failure'
              examples:
                Success_V2_NoReference:
                  summary: Success - V2 no referenceId
                  value:
                    transaction:
                      id: bec5a7b7-edd8-4580-aff5-b1ee52e73686
                      amount:
                        currency: USD
                        amount: 222
                      status: live
                      userId: d5e17cbf-92ad-44e7-b483-19dba7adaaa4
                      description: Online Transaction
                      attributes:
                        key:
                          value: KEY VALUE
                          description: KEY DESCRIPTION
                      createdDate: '2026-01-02T11:59:44+00:00'
                      expiryDate: '2026-01-04T11:59:44+00:00'
                      userName: Begos Andres
                      userEmail: begona.andresm@aeropay.com
                      merchantId: 1057
                      userAccountId: 1717
                      locationId: 1147
                Success_V2_Reference:
                  summary: Success - V2 referenceId
                  value:
                    transaction:
                      id: 53024f75-f7d1-45b7-8e4d-4449fed355ab
                      amount:
                        currency: USD
                        amount: 222
                      status: live
                      userId: d5e17cbf-92ad-44e7-b483-19dba7adaaa4
                      referenceId: check-new-ref-id
                      description: Online Transaction
                      attributes:
                        key:
                          value: KEY VALUE
                          description: KEY DESCRIPTION
                      createdDate: '2026-01-02T12:00:56+00:00'
                      expiryDate: '2026-01-04T12:00:56+00:00'
                      userName: Begos Andres
                      userEmail: begona.andresm@aeropay.com
                      merchantId: 1057
                      userAccountId: 1717
                      locationId: 1147
                Error_Ineligible:
                  summary: Fail - V2 invalid preauth uuid
                  value:
                    error:
                      code: AP313
                      message: Preauth ineligible for capture
                Error_InvalidPreauthUuid:
                  summary: Fail - V2 invalid format preauth uuid
                  value:
                    error:
                      code: AP701
                      message: 'Improperly formatted parameter: [''id: invalid UUID format'']'
    patch:
      summary: preauthTransaction
      description: 'Update the specified preauthorized transaction. Preauthorized transaction amounts can be increased or
        decreased. Attributes can also be added for tipping purposes.


        **Note:** The updated transaction amount may not exceed the original amount that was preauthorized.


        <details>

        <summary><strong>Error Glossary</strong> (click to expand)</summary>


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP009` | 401 | Unauthorized |

        | `AP101` | 401 | No authenticated user |

        | `AP300` | 200 | Unable to connect to bank |

        | `AP302` | 200 | Insufficient funds |

        | `AP310` | 200 | Credit transaction declined |

        | `AP312` | 200 | Preauth already captured |

        | `AP313` | 200 | Preauth ineligible for capture |

        | `AP315` | 200 | Payment rejected  -  threshold or suspended bank |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |

        | `AP1000` | 200 | Invalid API |


        </details>'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A merchant scoped token.
        example: Bearer {{merchantScopedToken}}
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              title: preathtransactionPatchRequest
              description: Body of preauthtransaction patch call
              type: object
              properties:
                amount:
                  type: object
                  description: Dictionary with currency and amount in pennies. Only USD supported at this time
                  properties:
                    amount:
                      type: integer
                      description: Payment amount in pennies
                    currency:
                      type: string
                      description: Currency. Currently only supports USD
                attributes:
                  type: object
                  description: Dictionary with attributes. Tip and invoice are standard formats. Custom attributes must follow
                    value/description dictionary formatting.
                  properties:
                    CUSTOM ATTRIBUTE:
                      type: object
                      properties:
                        value:
                          type: string
                          description: Value identifier of custom attribute
                        description:
                          type: string
                          description: Description of custom attribute
                    invoice:
                      type: object
                      properties:
                        value:
                          type: string
                          description: Value identifier of invoice
                          example: Value
                        description:
                          type: string
                          description: Description of invoice
                          example: Description
                    tip:
                      type: object
                      properties:
                        tipAmount:
                          type: string
                          description: Required. Amount of tip, in format XX.XX
                        label:
                          type: string
                          description: Required. String representation of tip, including $
                        totalAmount:
                          type: string
                          description: Required. Amount + tip, in format XX.XX. This can be used for reconciliation and to
                            guarantee accurate amount value
                      example:
                        tipAmount: '1.00'
                        label: $1.00
                        totalAmount: '2.00'
            example:
              amount:
                amount: 101
                currency: USD
              attributes:
                invoice:
                  value: '12345'
                  description: BUSINESS NAME
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Thu, 07 Aug 2025 14:27:56 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success or Business Logic Error
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/preauthTransactionResponse'
                - $ref: '#/components/schemas/200failure'
              examples:
                Success_Update:
                  summary: Success - Update Amount
                  value:
                    transaction:
                      id: 53024f75-f7d1-45b7-8e4d-4449fed355ab
                      amount:
                        currency: USD
                        amount: 101
                      status: live
                      userId: d5e17cbf-92ad-44e7-b483-19dba7adaaa4
                      description: Online Transaction
                      attributes:
                        invoice:
                          value: '12345'
                          description: BUSINESS NAME
                      createdDate: '2026-01-02T12:00:56+00:00'
                      expiryDate: '2026-01-04T12:00:56+00:00'
                      userName: Begos Andres
                      userEmail: begona.andresm@aeropay.com
                      merchantId: 1057
                      userAccountId: 1717
                      locationId: 1147
                Error_AlreadyCaptured:
                  summary: Fail - preauth already captured
                  value:
                    error:
                      code: AP312
                      message: 'Preauth has already been captured by Transaction #0b6c0d66-2752-4800-bbf4-aa1118b8a646.'
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Error_InvalidFormat:
                  summary: Fail - Invalid ID Format
                  value:
                    error:
                      code: AP701
                      message: 'Improperly formatted parameter: [''id: invalid UUID format'']'
                Error_MissingId:
                  summary: Fail - missing transaction id
                  value:
                    error:
                      code: AP700
                      message: 'Missing required Parameter: ''transactionId'''
    delete:
      summary: preauthTransaction
      description: 'Delete the specified preauthorized transaction.


        <details>

        <summary><strong>Error Glossary</strong> (click to expand)</summary>


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP009` | 401 | Unauthorized |

        | `AP101` | 401 | No authenticated user |

        | `AP312` | 200 | Preauth already captured |

        | `AP313` | 200 | Preauth ineligible for capture |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |


        </details>'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A merchant scoped token.
        example: Bearer {{merchantScopedToken}}
        schema:
          type: string
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Thu, 07 Aug 2025 15:05:36 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success or Business Logic Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  preauthTransactionGetResponse:
                    title: Get preauthTransaction Response
                    type: object
                    properties:
                      transaction:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: Unique identifier for the transaction (UUID).
                          amount:
                            type: object
                            properties:
                              currency:
                                type: string
                                example: USD
                                description: Three-letter ISO currency code.
                              amount:
                                type: integer
                                example: 101
                                description: Amount in pennies or smallest currency unit.
                          status:
                            type: string
                            enum:
                            - pending
                            - live
                            - canceled
                            - completed
                            description: Current status of the transaction.
                          userId:
                            type: string
                            format: uuid
                            description: Internal identifier of the user.
                          userName:
                            type: string
                            description: Full name of the user.
                          userEmail:
                            type: string
                            format: email
                            description: Email address of the user associated with the transaction.
                          createdDate:
                            type: string
                            format: date-time
                            description: The date and time when the transaction was created.
                          expiryDate:
                            type: string
                            format: date-time
                            description: The date and time when the transaction expires.
                          merchantId:
                            type: integer
                            description: Identifier of the merchant.
                          userAccountId:
                            type: integer
                            description: Identifier of the user's bank account.
                          locationId:
                            type: integer
                            description: Identifier of the specific business location.
                    example:
                      transaction:
                        id: 53024f75-f7d1-45b7-8e4d-4449fed355ab
                        amount:
                          currency: USD
                          amount: 101
                        status: canceled
                        userId: d5e17cbf-92ad-44e7-b483-19dba7adaaa4
                        userName: Begos Andres
                        userEmail: begona.andresm@aeropay.com
                        createdDate: '2026-01-02T12:00:56+00:00'
                        expiryDate: '2026-01-04T12:00:56+00:00'
                        merchantId: 1057
                        userAccountId: 1717
                        locationId: 1147
              examples:
                Success_Cancel:
                  summary: Success - preauth canceled
                  value:
                    transaction:
                      id: 53024f75-f7d1-45b7-8e4d-4449fed355ab
                      amount:
                        currency: USD
                        amount: 101
                      status: canceled
                      userId: d5e17cbf-92ad-44e7-b483-19dba7adaaa4
                      userName: Begos Andres
                      userEmail: begona.andresm@aeropay.com
                      createdDate: '2026-01-02T12:00:56+00:00'
                      expiryDate: '2026-01-04T12:00:56+00:00'
                      merchantId: 1057
                      userAccountId: 1717
                      locationId: 1147
                Error_AlreadyDeleted:
                  summary: Fail - Already deleted preauth transaction
                  value:
                    error:
                      code: AP313
                      message: Preauthorized Transaction with status of canceled is not eligible for capture
                Error_NotExist:
                  summary: Fail - preauth does not exists
                  value:
                    error:
                      code: AP313
                      message: Preauth ineligible for capture
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                error:
                  code: AP701
                  message: 'Improperly formatted parameter: [''id: invalid UUID format'']'
  /v2/preauthTransactions:
    parameters: []
    get:
      summary: preauthTransactions
      description: 'Fetch array of the preauthorized transactions for the authorized merchant.


        If the optional `id` query parameter is specified, fetches only that preauthorized transaction. If the optional `level`
        query parameter is specified, fetches the preauthorized transactions for that level.


        <details>

        <summary><strong>Error Glossary</strong> (click to expand)</summary>


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP009` | 401 | Unauthorized |

        | `AP101` | 401 | No authenticated user |

        | `AP313` | 200 | Preauth ineligible for capture |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |


        </details>'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: uuid
        in: query
        required: false
        description: UUID of preauthorized transaction to query by
        example: 7626c8c6-d6df-4c21-bcf4-09569294eaec
        schema:
          type: string
      - name: level
        in: query
        required: false
        description: Status of preauthorized transaction to query by
        example: live
        schema:
          type: string
      - name: dateStart
        in: query
        required: false
        description: Start date to filter preauthorized transactions on (MM-DD-YYYY HH:mm:ss)
        example: 11-12-2025 00:00:00
        schema:
          type: string
      - name: dateEnd
        in: query
        required: false
        description: End date to filter preauthorized transactions on (MM-DD-YYYY HH:mm:ss)
        example: 11-13-2025 00:00:00
        schema:
          type: string
      - name: timezone
        in: query
        required: false
        description: Timezone of dates
        example: ECT
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: Page number
        example: 1
        schema:
          type: integer
      - name: perPage
        in: query
        required: false
        description: Number of transactions per page
        example: 10
        schema:
          type: integer
      - name: sortBy
        in: query
        required: false
        description: Field to sort by
        example: id
        schema:
          type: string
      - name: orderBy
        in: query
        required: false
        description: Order by
        example: desc
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A merchant scoped token.
        example: Bearer {{merchantScopedToken}}
        schema:
          type: string
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
              example: Wed, 30 Jul 2025 16:33:02 GMT
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: object
                title: Get preauthTransaction response
                properties:
                  paging:
                    type: object
                    properties:
                      totalPages:
                        type: integer
                      totalItems:
                        type: integer
                      currentPage:
                        type: integer
                      itemsPerPage:
                        type: integer
                  transactions:
                    type: array
                    items:
                      $ref: '#/components/schemas/preauthTransactionResponse'
              examples:
                Success_V2_Params:
                  summary: Success - V2 params
                  value:
                    paging:
                      totalPages: 1
                      totalItems: 1
                      currentPage: 1
                      itemsPerPage: 1
                    transactions:
                    - id: 962af059-bf7b-4fd5-8d1f-83e9deb0a02a
                      amount:
                        currency: USD
                        amount: 222
                      status: live
                      userId: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      referenceId: merchant-ref-id
                      description: Online Transaction
                      attributes:
                        key:
                          value: KEY VALUE
                          description: KEY DESCRIPTION
                      createdDate: '2026-01-21T02:56:27+00:00'
                      expiryDate: '2026-01-24T02:56:27+00:00'
                      userName: Cristiano Lopes
                      userEmail: cristiano.lopes@ext.blaze.me
                      merchantId: 582
                      userAccountId: 1139036
                      locationId: 541
                Success_NoQueryParams:
                  summary: Success - No Query Parameters
                  value:
                    paging:
                      totalPages: 1
                      totalItems: 2
                      currentPage: 1
                      itemsPerPage: 50
                    transactions:
                    - id: 962af059-bf7b-4fd5-8d1f-83e9de77acb
                      amount:
                        currency: USD
                        amount: 333
                      status: live
                      userId: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      referenceId: merchant-ref-id
                      description: Online Transaction
                      attributes:
                        key:
                          value: KEY VALUE
                          description: KEY DESCRIPTION
                      createdDate: '2026-01-21T02:56:27+00:00'
                      expiryDate: '2026-01-24T02:56:27+00:00'
                      userName: Cristiano Lopes
                      userEmail: cristiano.lopes@ext.blaze.me
                      merchantId: 582
                      userAccountId: 1139036
                      locationId: 541
                    - id: 962af059-bf7b-4fd5-8d1f-83e9deb0a02a
                      amount:
                        currency: USD
                        amount: 222
                      status: live
                      userId: 2ac82269-9315-4bb6-8a19-f37e20d50238
                      referenceId: merchant-ref-id
                      description: Online Transaction
                      attributes:
                        key:
                          value: KEY VALUE
                          description: KEY DESCRIPTION
                      createdDate: '2026-01-21T02:56:27+00:00'
                      expiryDate: '2026-01-24T02:56:27+00:00'
                      userName: Cristiano Lopes
                      userEmail: cristiano.lopes@ext.blaze.me
                      merchantId: 582
                      userAccountId: 1139036
                      locationId: 541
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                error:
                  code: AP008
                  message: Invalid token.
  /v2/capturePreauthTransaction:
    parameters: []
    post:
      summary: capturePreauthTransaction
      description: 'Execute the preauthorized transaction which is specified by provided ''id''.


        The AeroPay transaction is returned.


        <details>

        <summary><strong>Error Glossary</strong> (click to expand)</summary>


        | Code | HTTP Status | Message |

        |------|-------------|-------------|

        | `AP009` | 401 | Unauthorized |

        | `AP101` | 401 | No authenticated user |

        | `AP300` | 200 | Unable to connect to bank |

        | `AP310` | 200 | Credit transaction declined |

        | `AP312` | 200 | Preauth already captured |

        | `AP313` | 200 | Preauth ineligible for capture |

        | `AP400` | 200 | No bank account linked |

        | `AP401` | 400 | Cannot validate bank account |

        | `AP412` | 200 | Bank account already removed |

        | `AP700` | 400 | Missing or invalid required parameter |

        | `AP701` | 400 | Improperly formatted parameter |

        | `AP1000` | 200 | Invalid API |


        </details>'
      tags:
      - Create & Manage Transactions
      parameters:
      - name: Content-Type
        in: header
        required: true
        example: application/json
        schema:
          type: string
      - name: authorization
        in: header
        required: true
        description: A merchant scoped token.
[...]
